<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/default.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/index.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery-1.8.3.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.KinSlideshow.min.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.lazyload.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.comtip-min.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.index.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.core.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.widget.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.tabs.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script type="text/javascript"> 
$(document).ready(function()
{
	index("{#$QISHI.site_dir#}","{#$QISHI.site_template#}");
	//紧急招聘
				$(function(){
				var _wrap=$('#emergencybox');
				var _interval=2000;
				var _moving;
				_wrap.hover(function(){
				clearInterval(_moving);
				},function(){
				_moving=setInterval(function(){
				var _field=_wrap.find('div:first');
				var _h=_field.height();
				_field.animate({marginTop:-_h+'px'},600,function(){
				_field.css('marginTop',0).appendTo(_wrap);
				})
				},_interval)
				}).trigger('mouseleave');
				});
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div id="index_body">
  <div class="index_banner">
    <img src="/templates/default/images/index_banner.jpg" width="593" height="320" alt="banner" />
  </div>
  <div class="login">
    <div class="login_err"></div>
    <form id="Formlogin" name="Formlogin" method="post">
    <div class="step_name">
      <label>用户名:</label>
      <input type="text" id="username" value="用户名/邮箱/手机号" />
    </div>
    <div class="step_pwd">
      <label>密码:</label>
      <input type="password" id="password" />
    </div>
    <div>
      <input type="submit" id="login" class="login" value="" />
      <a class="forget" href="{#$QISHI.site_dir#}user/user_getpass.php">忘记密码？</a>
    </div>
    <div>
      <a class="reg" href="{#$QISHI.site_dir#}user/user_reg.php"></a>
    </div>
    </form>
  </div>
  <div class="clear"></div>
  <div class="search">
    <script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
    <div class="left_search_box">
      <input type="text" class="key" type="text" id="index-search-key" maxlength="25" value="请输入职位名称、公司名称{#if $QISHI.jobsearch_type=='1'#}、技能特长、学校等{#/if#}关键字..." />
      <input type="text" class="short_input industry" id="index-search-trade" value="选择行业" />
      <input type="text" class="short_input profession" id="index-search-jobs" value="选择职位" />
      <input type="text" class="short_input city"  id="index-search-city" value="城市频道" />
      <input type="button" class="submit" value="" id="index-search-button" />
    </div>
		<script language="javascript" type="text/javascript">
		 $(document).ready(function()
		{
			  var a = $('#index-search-key').autocomplete({ 
				serviceUrl:'{#$QISHI.site_dir#}plus/ajax_common.php?act=hotword',
				minChars:1, 
				maxHeight:400,
				width:360,
				zIndex: 9999,
				deferRequestBy: 0 
			  });
		    ////行业
        //$.each(QS_trade, function(key, value){
        //  var trade = value.split(",");
        //  $("#index-search-trade").append("<option value='"+ trade[0] +"'>"+ trade[1] +"</option>");
        //});
		    ////职位
        //$.each(QS_jobs_parent, function(key, value){
        //  var job = value.split(",");
        //  $("#index-search-jobs").append("<option value='"+ job[0] +"'>"+ job[1] +"</option>");
        //});
		    ////城市
        //$.each(QS_city_parent, function(key, value){
        //  var city = value.split(",");
        //  $("#index-search-city").append("<option value='"+ city[0] +"'>"+ city[1] +"</option>");
        //});
        ////性质
        //$.each(QS_jobsnature, function(key, value){
        //  var nature = value.split(",");
        //  $("#index-search-nature").append("<label><input type='radio' name='nature' value='"+ nature[0] +"' />"+ nature[1] +"</label>");
        //});
		});
		</script>
    <div class="right_panel_box">
      <a class="write" href="#">写简历</a>
      <a class="tel" href="#">010-12345678</a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="hot_job">
    <div class="category">
      <ul>
        <li>行业分类</li>
        <li>易聘英才报</li>
      </ul>
    </div>
    <div class="job_list">
      <div class="top">
        <div id="hot_job_tabs_1" class="tag">
          <ul class="buttons">
            <li><a href="#hot_job_tabs_1_tabs-1">房地产 装潢</a></li>
            <li><a href="#hot_job_tabs_1_tabs-2">教育咨询</a></li>
            <li><a href="#hot_job_tabs_1_tabs-3">市场传媒</a></li>
            <li><a href="#hot_job_tabs_1_tabs-4">计算机电子</a></li>
            <li><a href="#hot_job_tabs_1_tabs-5" class="last">财务金融类</a></li>
          </ul>
          <div id="hot_job_tabs_1_tabs-1" class="list">
        		{#qishi_jobs_list set="列表名:job_list,显示数目:32,职位分类:1.182,职位名长度:4,排序:refreshtime>desc"#}
        		{#foreach from=$job_list item=list#}
         		  <a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a> 
        		{#/foreach#}
          </div>
          <div id="hot_job_tabs_1_tabs-2" class="list">
        		{#qishi_jobs_list set="列表名:job_list,显示数目:32,职位分类:317.324,职位名长度:4,排序:refreshtime>desc"#}
        		{#foreach from=$job_list item=list#}
         		  <a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a> 
        		{#/foreach#}
          </div>
          <div id="hot_job_tabs_1_tabs-2" class="list">
            <a href="#">房地产开发策划</a>
            <a href="#">装潢设计</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
            <a href="#">建筑工程管理</a>
            <a href="#">装潢设计</a>
            <a href="#">建筑工程管理</a>
            <a href="#">建筑工程管理</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="tag">
          <ul class="buttons">
            <li><a href="#" class="current">房地产 装潢</a></li>
            <li><a href="#">教育咨询</a></li>
            <li><a href="#">市场传媒</a></li>
            <li><a href="#">计算机电子</a></li>
            <li><a href="#" class="last">财务金融类</a></li>
          </ul>
          <div class="list">
            <a href="#">装潢设计</a>
            <a href="#">房地产开发策划</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
            <a href="#">装潢设计</a>
            <a href="#">房地产开发策划</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="article_tab" class="article">
    <ul class="buttons">
      <li><a href="#article_tab-1">动态</a></li>
      <li><a href="#article_tab-2">职场资讯</a></li>
      <li><a href="#article_tab-3">招聘会</a></li>
    </ul>
    <div id="article_tab-1" class="list">
  		{#qishi_news_list set="列表名:article_list,显示数目:7,资讯小类:8,排序:article_order>desc"#}
  		{#foreach from=$article_list item=list#}
        <div class="row">
          <div class="list_title"></div><a href="{#$list.url#}">{#$list.title#}</a>
        </div>
  		{#/foreach#}
    </div>
  </div>
  <div class="clear"></div>
  <div class="ad1">
    <img src="/templates/default/images/index-ad1.jpg" alt="ad1" />
  </div>
  <div class="clear"></div>
  <div class="company">
    <a href="#"><img src="/templates/default/images/index-company-1.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
  </div>
  <div class="clear"></div>
  <div class="recommend_crash">
    <div class="recommend">
      <div class="list_title"></div>
      <div class="list_box">
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：校医、汽修专业教师、网络管理员、会计专业教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <a href="#">广东省财政职业技术学校</a>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
      </div>
    </div>
    <div class="crash">
      <div class="list_title"></div>
      <div class="list_box">
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
        <div class="row last">
          <div class="title">
            <a href="#">广东省财政职业技术学校</a>
            <p class="peoples">(10人)</p>
            <p class="hot"></p>
          </div>
          <p class="desc">诚聘：工商管理系会计教研室专任教师、工商管理系商务管理教研室专任教师</p>
        </div>
      </div>
    </div>
		<div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="new_jobs">
    <div class="title"></div>
    <div class="list_box">
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div><div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="job_box">
        <a href="#">广东省财政职业技术学校</a>
        <p class="txt_desc">诚聘：汽修专业教师、网络管理员</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="friend_link">
    <div class="title"></div>
    <div class="list_box">
      <a href="#">中国广州人事网</a>
      <a href="#">广州市军队转业干部服务平台</a>
      <a href="#">广州留学人员服务管理中心</a>
      <a href="#">广州市高校毕业生就业指导中心</a>
      <a href="#">广州考试信息网</a>
      <a href="#">广州市高校毕业生就业指导中心</a>
      <a href="#">山东人才网</a>
      <a href="#">中国济南人才网</a>
      <a href="#">烟台人才热线网</a>
      <a href="#">苏州人才网</a>
      <a href="#">苏州高新人才网</a>
      <a href="#">扬州人才网</a>
    </div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
{#qishi_ad set="显示数目:10,调用名称:QS_indexfloat,列表名:ad"#}{#foreach from=$ad  item=float#}{#$float#}{#/foreach#}
</div>		  
<script type="text/javascript" charset="utf-8">
//tabs
$(function(){
	$( "#hot_job_tabs_1" ).tabs();
	$( "#article_tab" ).tabs();
});
//login
$(function(){
  $("#username").focus(function(){
    if ($("#username").val()=="用户名/邮箱/手机号")
  	{
  	  $("#username").val('');
  	  $("#username").css("color","");
  	}  
  });
});
//验证
$("form[id=Formlogin]").submit(function(e) {
  e.preventDefault();
	if ($("#username").val()=="" || $("#username").val()=="用户名/邮箱/手机号")
	{			
		$(".login_err").html("请填写：用户名 / 邮箱 / 手机号");	
		$(".login_err").show();
	}
	else if($("#password").val()=="")
	{	
	  $(".login_err").html("请填写密码！");
	  $(".login_err").show();
	}
	{#if $verify_userlogin=="1"#}
	else if($("#postcaptcha").val()=="" || $("#postcaptcha").val()=="点击获取验证码")
	{	
	  $(".login_err").html("请填写验证码！");
	  $(".login_err").show();
	}
	{#/if#}
	else
	{
		$(".login_err").html("正在登录...");
		$(".login_err").show();	
		$("#login").attr("disabled","disabled");
		$.post("{#$QISHI.site_dir#}plus/ajax_user.php", {"username": $("#username").val(),"password": $("#password").val(),"expire": '',"url":"{#$smarty.get.url#}","postcaptcha":$("#postcaptcha").val(),"time": new Date().getTime(),"act":"do_login"},
	 	function (data,textStatus)
	 	 {
			if (data=="err" || data=="errcaptcha")
			{			
				$("#login").attr("disabled",false);
				$("#password").attr("value","");
				$(".login_err").show();	
				if (data=="err")
				{
				errinfo="帐号或者密码错误";
				}
				else if(data=="errcaptcha")
				{
				$("#imgdiv img").attr("src",$("#imgdiv img").attr("src")+"1");
				errinfo="验证码错误";
				}
				$(".login_err").html(errinfo);
			}
			else
			{
				$("body").append(data);
			}
	 	 })		
	}
	return false;
});
</script>
</body>
</html>