<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_jobs"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
</head>
<body>
{#include file="header.htm"#}
<div id="jobs_body">
  <div class="search">
    <div class="step step_trade">
      <input type="text" class="input2" />
    </div>
    <div class="step step_category">
      <input type="text" class="input2" />
    </div>
    <div class="step step_address">
      <input type="text" class="input1" />
    </div>
    <div class="step step_key">
      <input type="text" class="input_key_type" />
      <input type="text" class="input3" />
    </div>
    <div class="step step_date">
      <input type="text" class="input1" />
    </div>
    <input type="submit" class="submit" value=""/>
    <a href="#" class="reset">清空条件</a>
  </div>
  <div class="clear"></div>
  <div class="job_list">
    <div class="title">
      <div class="field_count"></div>
      <input type="text" />
      <input type="text" />
      <input type="text" />
    </div>
    <div class="title_right_border"></div>
    <div class="clear"></div>
    <div class="content">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>职位名称</th>
            <th>公司名称</th>
            <th>学历要求</th>
            <th>工作经验</th>
            <th>刷新时间</th>
          </tr>
        </thead> 
        <tbody>
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
          
          <tr>
            <th rowspan="3"><input type="checkbox" /></th>
            <th class="short job_name">平面设计</th>
            <td class="short">奔腾写真喷绘服务部</td>
            <td class="short">不限</td>
            <td class="short">1年</td>
            <td class="short">2013-07-07</td>
          </tr>
          <tr>
            <td colspan="4" class="info">招聘人数： 3人 | 月薪： 面议 | 公司性质：其他   | 工作地点：河北邯郸市</td>
            <td rowspan="2">
              <a href="#" class="btn_show"></a>
              <a href="#" class="btn_apply"></a>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="desc">职位描述：身体健康、工作踏实、认真、负责,有上进心,有相关工作经验者优先。</td>
          </tr>
          <tr>
            <td colspan="6" class="bottom_border"></td>
          </tr>
        </tbody>
      </table>
      <div class="pager">
        <a href="#" class="text_nav"><<</a>
        <a href="#" class="text_nav">上一页</a>
        <a href="#" class="text_nav">1</a>
        <a href="#" class="text_nav">2</a>
        <a href="#" class="text_nav">3</a>
        <a href="#" class="text_nav">4</a>
        <a href="#" class="text_nav">5</a>
        <a href="#" class="text_nav">...</a>
        <a href="#" class="text_nav">下一页</a>
        <a href="#" class="text_nav">>></a>
        <div class="goto">
          <label>跳转到</label>
          <input type="text" class="txt_page"/>
          <input type="button" class="go"/>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="company_list">
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-1.jpg" /></a>
    </div>
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-2.jpg" /></a>
    </div>
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-3.jpg" /></a>
    </div>
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-1.jpg" /></a>
    </div>
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-2.jpg" /></a>
    </div>
    <div class="company_box">
      <a href="#"><img src="../templates/default/images/jobs-company_list-3.jpg" /></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="commend_list">
    <div class="commend_1_title"></div>
    <div class="commend_content">
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
    </div>
  </div>
  <div class="commend_list">
    <div class="commend_2_title"></div>
    <div class="commend_content">
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
    </div>
  </div>
  <div class="commend_list">
    <div class="commend_3_title"></div>
    <div class="commend_content">
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
      <a href="#">北京招聘</a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="friend_link">
    <div class="title"></div>
    <div class="list_box">
      <a href="#">中国广州人事网</a>
      <a href="#">广州市军队转业干部服务平台</a>
      <a href="#">广州留学人员服务管理中心</a>
      <a href="#">广州市高校毕业生就业指导中心</a>
      <a href="#">广州考试信息网</a>
      <a href="#">广州市高校毕业生就业指导中心</a>
      <a href="#">山东人才网</a>
      <a href="#">中国济南人才网</a>
      <a href="#">烟台人才热线网</a>
      <a href="#">苏州人才网</a>
      <a href="#">苏州高新人才网</a>
      <a href="#">扬州人才网</a>
    </div>
</div>
{#include file="footer.htm"#}
</body>
</html>
