body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 8px;font-size:12px; color: #666666; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff;}
h1,h2,h3,h4,h5,form,p,ul{ margin:0px; padding:0px;}
input {font-family:Arial, Helvetica, sans-serif;font-size:12px; color: #666666;}
li { padding:0px; margin:0px; line-height:180%;list-style-type:none;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px;}
.link_lan a{color: #0066CC;text-decoration: none;}
.link_lan a:hover {text-decoration: underline;color: #FF6600;}
.link_lang a{color: #0066CC;text-decoration: none;}
.link_lang a:hover {text-decoration: underline;color: #009900;}
.link_bk a{color: #4D4D4D;text-decoration: none;}
.link_bk a:hover {text-decoration: underline;color: #FF6600;}
.link_bku a{color: #4D4D4D;text-decoration: underline;}
.link_bku a:hover {text-decoration: underline;color: #009900;}
.link_bkg a{color: #4D4D4D;text-decoration: none;}
.link_bkg a:hover {text-decoration: underline;color: #009900;}
.link_bkgu a{color: #4D4D4D;text-decoration: underline;}
.link_bkgu a:hover {text-decoration: underline;color: #009900;}
.link_white a{color: #FFFFFF;	text-decoration: none;text-decoration: none;}
.link_white a:hover {text-decoration: underline;}
.link_lightblue a{color: #A8CEEE;	text-decoration: none;text-decoration: none;}
.link_lightblue a:hover {text-decoration: underline; color:#E4F0FA}
.link_green a{color: #009900;text-decoration: none;}
.link_green a:hover {text-decoration: underline;color: #339900;}
.link_greenu a{color: #009900;text-decoration: underline;}
.link_greenu a:hover {text-decoration: underline;color: #339900;}
.link_orange a{color: #FF6600;text-decoration: none;}
.link_orange a:hover {text-decoration: underline;color: #FF3300;}
.link_orangeu a{color: #FF6600;text-decoration: underline;}
.link_orangeu a:hover {text-decoration: underline;color: #FF3300;}
/*全局顶部*/
.global_head_top{width: 100%; background-color: black; height: 53px;}
.global_head_top .body{width: 960px; height: 50px; margin: auto auto;}
.global_head_top .body .logo{margin: 16px auto auto 4px; width: 108px; height: 18px; background:url(../images/global-head-top_logo.jpg); float: left; }
.global_head_top .body .nav{margin: 17px auto auto 40px; float: left; width: 462px; height: auto;}
.global_head_top .body .nav a{color: white; display: inline-block; padding-left: 5px; padding-right: 5px; float: left; text-decoration: none; text-align: center; width: 60px;}
.global_head_top .body .nav a .more{background:url(../images/global-head-top-icon_more.jpg) no-repeat; width: 7px; height: 4px; margin: -8px auto auto 54px;}
.global_head_top .body .nav_space{width: 20px; float: left; color: white; text-align: center;}
.global_head_top .body .user_zone{margin: 17px auto auto 118px; float: left;}
.global_head_top .body .user_zone a{float: left; text-align: center; padding-left: 10px; padding-right: 10px; color: #b7b7b7; text-decoration: none;}
.global_head_top .body .user_zone a.mail{background:url(../images/global-head-top-icon_mail.jpg) no-repeat; width: 16px; height: 16px; display: block; padding-left: 0px;}
.global_head_top .body .user_zone a.setting{background:url(../images/global-head-top-icon_setting.jpg) no-repeat; width: 16px; height: 16px; display: block; margin-top: -1px;}
.global_head_top .bottom_border{width: 100%; height: 3px; background:url(../images/global-head-top_bg.jpg) repeat-x; font-size: 0px;}
/*顶部*/
.head_top{width: 960px; height: 112px; margin: auto auto;}
.head_top .logo{width: 190px; height: 62px; margin: 25px auto auto 3px; background:url(../images/logo.jpg); float: left;}
.head_top .nav{margin: 53px auto auto 0px; height: 34px; float: left; width: 763px;}
.head_top .nav a{display: block; float: left; margin: auto auto auto 18px; width: 91px; height: 34px; *margin: auto auto auto 9px; background: url(../images/head-top-nav-bg.jpg); text-align: center; line-height: 34px; font-size: 16px; color: #717171; text-decoration: none;}
.head_top .nav .select{background:url(../images/head-top-nav-bg-select.jpg); color: white;}
.head_top .nav .service{background:url(../images/head-top-nav_service.jpg); height: 49px; margin-top: -14px;}
.head_top .bottom{height: 3px; width: 100%; background-color: #ffa425; font-size: 0px;}
/*导航*/
.nav{ width:985px;height:41px;margin:0 auto; font-family:"microsoft yahei","宋体";}
.nav .left{ width:10px; height:41px; float:left; background:url(../images/14.gif) no-repeat left 0px;}
.nav .center{width:965px; height:41px; float:left;background:url(../images/14.gif) repeat-x left -42px;}
.nav .center .clist a{display:block; float:left; height:41px;width:auto;color: #666666; margin-right:5px; cursor:pointer;text-decoration:none}
.nav .center .clist a u{display:block; float:left; height:41px; width:auto;font-size:14px;text-decoration:none; padding:0px 13px; line-height:41px;}
.nav .center .clist a:hover{ color:#FF6600;}
.nav .center .clist a:hover u{color:#FF6600;}
.nav .center .clist a.select{background:url(../images/14.gif) repeat-x 0px -84px; color:#FFFFFF; }
.nav .center .clist a.select u{background:url(../images/14.gif) repeat-x right -126px;line-height:38px;}
.nav .center .clist a:hover.select{ color:#FFFFCC}
.nav .center .clist a:hover.select u{ color:#FFFFCC}
.nav .right{width:10px; height:41px; float:left;background:url(../images/14.gif) no-repeat right top;}
/*当前位置*/
.page_location{height:22px; line-height:22px;width:985px; margin:0 auto; padding-top:8px;} 
/*-----分页样式--------*/
.page {text-align:center; margin-top:15px; margin-bottom:15px;}
.page a {border: 1px solid #dddddd;display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }
.page a:hover { border:1px #0066CC solid; color: #0066CC}
.page a.select{ border: 1px solid #0066CC; background-color:#0066CC; color:#ffffff; }
.page span {display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }
/*表单*/
.but70 { width:70px; height:25px; font-size:12px;color:#FFFFFF; border:0px; background-image:url(../images/10.jpg); background-repeat:no-repeat;}
.but70_hover{ background-position:0px -25px;vertical-align:middle;}
.but80 { width:81px; height:32px; font-size:14px; font-weight:bold; color:#FFFFFF; border:0px; background-image:url(../images/36.jpg); background-repeat:no-repeat;vertical-align:middle;}
.but80_hover{ background-position:0px -32px;}
.but100 { width:100px; height:32px; font-size:14px; font-weight:bold; color:#FFFFFF; border:0px; background-image:url(../images/41.jpg); background-repeat:no-repeat;vertical-align:middle;}
.but100_hover{ background-position:0px -32px;}
.input_text_400 {width:400px; height:20px;border:1px  solid;border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px; line-height:20px; padding-left:3px;}
.input_text_150 {width:150px; height:20px; border:1px  solid;border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:20px;padding-left:3px;}
.input_text_200 {width:200px; height:16px; border:1px solid; border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:16px;padding:3px;}
.input_text_100 {width:100px; height:16px; border:1px   solid; border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:16px;padding:3px;}
.input_text_50 {width:50px; height:20px; border:1px solid; border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:20px;padding-left:3px}
.input_textarea_200{ width:200px; height:50px; border:1px  solid;border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:20px;}
.input_textarea_400{ width:400px; height:120px; border:1px  solid;border-color:#666666 #CCCCCC #CCCCCC #666666; font-size:12px;line-height:20px;}
.login_connectbox{ width:80px; height:38px; float:left;}
/*底部*/
.footer {width:955px; text-align:center; padding:15px; line-height:180%; font-size:12px; margin:0 auto;}
/*-----jquery dialog css--------*/
.FloatBg  {display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;}
.FloatBox {position:absolute;padding:5px;background:url(../images/95.png)}
.FloatBox .Box{border:1px  #999999 solid}
.FloatBox .Box .title{height:30px;color: #333333;background:url(../images/72.gif) repeat-x;}
.FloatBox .Box .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;padding:7px 10px 0;}
.FloatBox .Box .title span{float:right;cursor:pointer; display:block;background:url(../images/72.gif) no-repeat  0px -30px; width:30px; height:30px;}
.FloatBox .Box .title .spanhover{ background-position:0px -60px;}
.FloatBox .Box .content{padding:20px 15px;background:#fff;}
.FloatBox .Box .content .wait{background:url(../images/90.gif)  no-repeat  center; padding:30px;}
/*-----jquery Float css--------*/
.OpenFloatBg{display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;}
.OpenFloatBoxBg{display:none;background:#666666;position:absolute;}
.OpenFloatBox{border: #999999 1px solid;width:650px;position:absolute;}
.OpenFloatBox .title{height:30px;color: #333333;background:url(../images/72.gif) repeat-x;}
.OpenFloatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;padding:7px 10px 0;}
.OpenFloatBox .title .DialogClose{float:right;cursor:pointer; display:block;background:url(../images/72.gif) no-repeat  0px -30px; width:30px; height:30px;}
.OpenFloatBox .title .spanhover{ background-position:0px -60px;}
.OpenFloatBox .tip{height:30px;color: #FF6600;background:url(../images/72.gif)  no-repeat  0px -90px; padding-left:26px; line-height:30px;background-color:#FFFFFF}
.OpenFloatBox .selecteditem{ display:none; background-color: #FFFEEE; border:1px #FF9966 solid;width:100%;color: #FF0000; padding:10px 0px;}
.OpenFloatBox .selecteditem .empty{ color: #0066CC; cursor:pointer}
.OpenFloatBox .selecteditem label{ display:block;  width:145px; float:left;margin-right:5px; padding-left:5px;color:#339900; cursor:pointer}
.OpenFloatBox .txt{ padding:15px; padding-top:0px;}
.OpenFloatBox .content{background-color:#FFFFFF; width:100%;}
.OpenFloatBox .content .item{ width:150px;height:20px;margin-right:5px; float:left; cursor:pointer;}
.OpenFloatBox .content .item .titem{ display:block; position:absolute; width:150px; z-index:1;}
.OpenFloatBox .content .item .titemhover{ border:1px #FF9900 solid; background-color:#FFFEF0; color:#FF6600; font-weight:bold}
.OpenFloatBox .content .item .sitem{position:absolute; display:none; border:1px  #00CCFF solid; width:150px;  background-color:#999999;z-index:2; margin-top:20px; border:1px #FF9900 solid;background-color:#FFFEF0;border-top:0px;}
.OpenFloatBox .content .item .sitem label{ padding-bottom:5px; line-height:23px;}
.OpenFloatBox .wait{background:url(../images/90.gif)  no-repeat  center; padding:30px;}
/*ajax-会员登录*/
.ajax_login_tit{ padding-left:10px ; font-weight:bold; height:28px ; line-height:28px; color:#0066CC; font-size:14px; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_login_input { width:165px; padding:3px; vertical-align:middle;font-family:Arial, Helvetica, sans-serif; font-size:12px; height:18px; line-height:16px;border:1px #CCCCCC solid;}
.ajax_login_err{ padding:5px; border:1px #FF3300 solid; background-color:#FFF3EE; margin-bottom:8px; margin-top:5px; background-image:url(../images/37.gif); padding-left:22px; background-repeat:no-repeat; background-position:5px 6px;  display:none; color:#000000}
/*ajax-申请职位*/
.ajax_app_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_app_tip span{ color:#FF0000}
.ajax_app {}
.ajax_app li{ float:left; padding-right:15px; margin-bottom:5px; width:150px;}
/*ajax-下载简历*/
.ajax_download_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_download_tip span{ color:#FF0000}
/*ajax-邀请面试*/
.ajax_invited_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_invited_tip span{ color:#FF0000}
/*友情链接*/
.links { width:985px;margin:0 auto; margin-top:8px}
.links a{ height:23px; line-height:23px; padding-right:8px;}
.links .imglink{ width:88px; height:31px;padding-right:8px; padding-top:4px;padding-bottom:4px;float:left;}
/*框计算*/
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; line-height:160% }
.autocomplete { border:1px solid #CCCCCC; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
/*-----jquery tip--------*/
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size:12px; background-color: #FFFFCC; border: 3px solid #FF9900; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999; line-height:170% }
/*-----pageloading--------*/
#pageloadingbg{ width:100%; height:100%; background-color:#FFFFFF;position:absolute; top:0px; left:0px; z-index:300}
#pageloadingbox{ position:absolute;width:100px; text-align:center; height:12px; padding:10px; border:3px #FF9900 solid; background-color:#FFFFCC;top:50%; left:45%;z-index:301}
/*-----navFix--------*/
.navFix{ position:fixed; left:0;  top:0; _position:absolute;  z-index:2; width:100%;}

/*-----友情链接------*/
.friend_link{margin-top: 18px;}
.friend_link .title{width: 136px; height: 36px; background:url("../images/index-new-friend_link-title.jpg");}
.friend_link .list_box{width: 958px; border: solid 1px #e6e5e5; background-color: white;}
.friend_link .list_box a{color: black; text-decoration: none; display: inline-block; padding: 10px;;}

/*-----分页样式------*/
#pager{width: 100%; margin: 28px auto 28px; text-align: center;}
#pager .text_nav{color: #717171; display: inline-block; text-decoration: none; padding: 5px;}
#pager .goto{width: 130px; display: inline-block; color: #717171; text-align: left; padding-left: 10px;}
#pager .goto label{}
#pager .goto .txt_page{width: 41px; height: 16px; border: solid 1px #d1d1d1;}
#pager .goto .go{width: 43px; height: 18px; background:url(../images/jobs-job_list-pager-go.jpg); border: none;}

/*-----分页高级搜索------*/
#adv_job_search{width: 960px; height: 170px; background-color: #f9ac2e;}
#adv_job_search label{font-size: 14px; }
#adv_job_search .step_box{width: 850px; margin: auto auto;}
#adv_job_search .step{margin: 17px auto auto 15px; float: left;}
#adv_job_search .step .input1{width: 145px; height: 28px; margin-left: 70px; border: 1px solid #CCCCCC; background: url("../images/jobs-search-more.jpg") no-repeat scroll 129px center white}
#adv_job_search .step .input2{width: 271px; height: 28px; margin-left: 70px; border: 1px solid #CCCCCC; background: url("../images/jobs-search-more.jpg") no-repeat scroll 255px center white}
#adv_job_search .step .input3{width: 549px; height: 28px; border: 1px solid #CCCCCC; border-left: none; background: url("../images/jobs-search-more.jpg") no-repeat scroll 533px center white; margin-left: -3px;}
#adv_job_search .step .input_key_type{width: 80px; height: 30px; margin-left: 70px; border: none; background: url("../images/jobs-search-bg-key_type.jpg")}
#adv_job_search .step_trade{background:url("../images/jobs-search-label-trade.jpg") no-repeat scroll 0 center transparent;}
#adv_job_search .step_category{background:url("../images/jobs-search-label-category.jpg") no-repeat scroll 0 center transparent;}
#adv_job_search .step_address{background:url("../images/jobs-search-label-address.jpg") no-repeat scroll 0 center transparent;}
#adv_job_search .step_key{background:url("../images/jobs-search-label-key.jpg") no-repeat scroll 0 center transparent;}
#adv_job_search .step_date{background:url("../images/jobs-search-label-date.jpg") no-repeat scroll 0 center transparent;}
#adv_job_search .submit{width: 247px; height: 38px; border: none;  margin: 18px auto auto 290px; float: left; background:url("../images/jobs-search-submit.jpg")}
#adv_job_search .reset{display: block; float: left; color: white; text-decoration: none; font-size: 16px; margin: 28px auto auto 10px;}
