/*-----首页------*/
body{background:url("../images/index-bg.jpg") repeat-x scroll 0 53px #F7F7F7;}
/*-----登陆框------*/
#index_body{width: 960px; margin: 28px auto auto auto;}
#index_body .index_banner{width: 593px; height: 320px; float: left;}
#index_body .login{width: 367px; height: 320px; float: left; background: url(../images/index-login_bg.jpg);}
#index_body .login_err{width: 200px; height: 20px; margin: 43px auto auto 123px; color: red;}
#index_body .login input{border: none; height: 23px; margin: 2px auto auto 2px; width: 191px; background: url(../images/index-login-input-bg.jpg); padding-left: 5px;}
#index_body .login .login{border: none; background: url(../images/index-login_login.jpg); width: 112px; height: 33px; margin: 27px auto auto 104px;}
#index_body .login .step_name{margin: 15px auto auto 58px;}
#index_body .login .sttep_name label{margin: 10px 10px 10px 10px; color: #656565; * margin: 5px 5px;}
#index_body .login .step_pwd{margin: 12px auto auto 50px;}
#index_body .login .step_pwd label{margin: 10px 10px 10px 10px; color: #656565;}
#index_body .login .forget{display: inline-block; margin: 30px auto auto 5px; width: 60px; color: #656565; text-decoration: none;}
#index_body .login .reg{display: block; margin: 40px auto auto 83px; background: url(../images/index-login_reg.jpg); width: 192px; height: 43px}
#index_body .login .user_info_box{padding: 45px; padding-top: 80px; line-height: 45px; text-align: center;}

/*-----搜索框------*/
#index_body .search{width: 960px; height: 175px; background:url(../images/index-search_bg.jpg);}
#index_body .search .left_search_box{width: 498px; height: 128px; float: left; padding-top: 47px; padding-left: 87px;}
#index_body .search .left_search_box input{border: medium none; }
#index_body .search .left_search_box .key{width: 490px; height: 19px; float: left;}
#index_body .search .left_search_box .short_input{width:135px; height: 19px; float: left;}
#index_body .search .left_search_box .industry{margin: 21px auto auto 0;}
#index_body .search .left_search_box .profession{margin: 21px auto auto 33px;}
#index_body .search .left_search_box .city{margin: 18px auto auto 34px; *margin: 19px auto auto 33px;}
#index_body .search .left_search_box .submit{width: 246px; height: 36px; margin: 14px auto auto -7px; background: url(../images/index-search-submit.jpg);}
#index_body .search .right_panel_box{width: 375px; height: 175px; float: left;}
#index_body .search .right_panel_box a{text-decoration: none; color: #ef9618; font-size: 16px;}
#index_body .search .right_panel_box .write{width: 143px; height: 39px; float: left; display: block; text-align: center; padding-top: 80px; margin: 25px auto auto 35px; *margin: 25px auto auto 17px;}
#index_body .search .right_panel_box .tel{width: 143px; height: 39px; float: left; display: block; text-align: center; padding-top: 80px; margin: 25px auto auto 16px; }
.dmenu {position:absolute; left:0px; top:23px; z-index:99; background-color: #F7FBFD; border:1px #8A89A9 solid; width:620px; display:none; padding:15px;}
.dmenu .tit { width:280px; margin-bottom:5px;}
.dmenu ul { padding:0px; margin:0px;}
.dmenu li { line-height:25px; cursor:pointer; width:150px; float:left; color:#0066CC; padding-left:5px;}
.dmenu .go_back { color:#009900; cursor:pointer; line-height:180%; padding-left:5px;}
.shadow {
 -moz-box-shadow: 3px 3px 4px #CCCCCC;   
 -webkit-box-shadow: 3px 3px 4px #CCCCCC;   
box-shadow: 3px 3px 4px #CCCCCC;   
/* For IE 8 */   
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC')";   
/* For IE 5.5 - 7 */   
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC');   
}


/*-----热门工作------*/
#index_body .hot_job{width: 643px; height: 290px; float: left; background:url(../images/index-hot_job-bg.jpg) no-repeat; margin-top: 18px;}
#index_body .hot_job .category{width: 141px; height: 264px; float: left; margin-left: 13px; *margin-left: 6px;}
#index_body .hot_job .category .ui-tabs-active a{font-size: 22px; color: white; text-decoration: none;}
#index_body .hot_job .category .ui-tabs-active{line-height: 121px; background: url(../images/index-hot_job-ui-tabs-active.jpg);}
#index_body .hot_job .category ul{width: 100%; margin-top: 25px;}
#index_body .hot_job .category ul li{list-style: none; width: 141px; text-align: center; color: #414141; line-height: 60px; font-size: 14px;}
#index_body .hot_job .category ul li a{color: #414141; text-decoration: none;}
#index_body .hot_job .job_list{width: 473px; height: 241px; margin: 24px auto auto 15px; border: solid 1px #e7e7e7; float: left; border-left: none;}
#index_body .hot_job .job_list .tag .buttons li{float: left; list-style: none;}
#index_body .hot_job .job_list .tag .buttons a{line-height: 33px; display: block; background: url("../images/index-hot-job-category-right_border.jpg") no-repeat scroll right center transparent; text-decoration: none; text-align: center; padding-left: 19px; padding-right: 19px; color: #727272; border-bottom: solid #c7c7c7;}
#index_body .hot_job .job_list .tag .buttons .ui-tabs-active a{font-weight: bold; color: #f09415; border-bottom: solid #f19315;}
#index_body .hot_job .job_list .tag .buttons .last{background: none;}
#index_body .hot_job .job_list .tag .list{display: none;}
#index_body .hot_job .job_list .tag .list a{display: inline-block; line-height: 34px; text-align: center; color: #717171; text-decoration: none; padding-left: 15px; padding-right: 15px; }
#index_body .hot_job .job_list .top{width: 100%; height: 122px; background-color: white;}
#index_body .hot_job .job_list .bottom{width: 100%; height: 122px; background-color: #f7f7f7;}
#index_body .hot_job .trade_list li{list-style: none; width: 155px; float: left;}
#index_body .hot_job .trade_list li a{text-decoration: none; color: #717171;}


/*-----文章------*/
#index_body .article{width: 300px; height: 291px; float: left; margin: 17px auto auto 14px; border: solid 1px #e7e7e7; background-color: white;}
#index_body .article .buttons{width: 100%; height: 38px; }
#index_body .article .buttons li{list-style: none; width: 100px; float: left;}
#index_body .article .buttons a{width: 100px; height: 26px; float: left; background:url(../images/index-article-tab-button.jpg); display: block; text-align: center; text-decoration: none; font-size: 14px; color: black; padding-top: 12px;}
#index_body .article .buttons .ui-tabs-active a{background:url(../images/index-article-tab-button-current.jpg); color: #f09415;}
#index_body .article .list{width: 100%; display: none;}
#index_body .article .list .row{width: 250px; height: 25px; margin: auto auto; border-bottom: dashed 1px #dddddd; padding-top: 10px;}
#index_body .article .list .row.last{border-bottom: none;}
#index_body .article .list .row .list_title{width: 2px; height: 2px; float: left; background-color: #f79001; margin: 10px}
#index_body .article .list .row a{color: #717171; text-decoration: none; font-size: 14px; float: left;}


/*-----横幅广告1------*/
#index_body .ad1{width: 948px; height: 71px; padding: 5px; border: solid 1px #e4e4e4; margin-top: 18px; background-color: white;}

/*-----企业列表------*/
#index_body .company{width: 970px; margin-left: -10px;}
#index_body .company img{border: none;}
#index_body .company a{display: inline-block; border: solid 1px #e4e4e4; padding: 4px; margin: 10px auto auto 8px; background-color: white;}

/*-----推荐、紧急职位框------*/
#index_body .recommend_crash{width: 958px; height: 500px; background-color: white; margin-top: 24px; border: solid 1px #e8e8e8;}
#index_body .recommend_crash .txt_desc{color: #717171;}
#index_body .recommend{width: 477px; float: left; margin-top: -4px;}
#index_body .recommend .list_title{width: 205px; height: 40px; background:url(../images/index-recommend-job-title.jpg); margin: 0px auto auto auto; }
#index_body .recommend .list_box{width: 454px; height: 420px; border: solid 1px #e7e6e6; margin: 17px auto auto 7px;}
#index_body .recommend .list_box .row{line-height: 20px; height: 47px; margin: 10px auto auto 10px; border-bottom: 1px dashed #E0DEDE; padding-left: 5px;}
#index_body .recommend .list_box .row.last{border-bottom: none}
#index_body .recommend .list_box .title a{color: red; font-weight: bold; text-decoration: none; display: inline;}
#index_body .recommend .list_box .title{padding-top: 5px;}
#index_body .recommend .list_box .title .peoples{color: #afafaf; display: inline; padding-right: 30px;}
#index_body .recommend .list_box .title .hot{}
#index_body .recommend .list_box .desc{color: #666666; text-decoration: none; display: inline; padding-right: 5px;}

#index_body .crash{width: 477px; float: left; margin-top: -4px;}
#index_body .crash .list_title{width: 205px; height: 40px; background:url(../images/index-crash-job-title.jpg); margin: 0px auto auto auto; }
#index_body .crash .list_box{width: 454px; height: 420px; border: solid 1px #e7e6e6; margin: 17px auto auto 7px; overflow: hidden;}
#index_body .crash .list_box .row{line-height: 20px; height: 37px; margin: auto auto 10px 10px; border-bottom: 1px dashed #E0DEDE; padding-left: 5px; padding-top: 10px;}
#index_body .crash .list_box .row.last{border-bottom: none}
#index_body .crash .list_box .title a{color: red; font-weight: bold; text-decoration: none; display: inline;}
#index_body .crash .list_box .title{padding-top: 5px;}
#index_body .crash .list_box .title .peoples{color: #afafaf; display: inline; background:url("../images/index-crash-job-hot.jpg") no-repeat scroll right center transparent; padding-right: 30px;}
#index_body .crash .list_box .desc{color: #666666; text-decoration: none; display: inline; padding-right: 5px;}


/*-----最新发布职位------*/
#index_body .new_jobs{margin-top: 23px;}
#index_body .new_jobs .title{width: 175px; height: 36px; background:url("../images/index-new-jobs-title.jpg");}
#index_body .new_jobs .list_box{width: 958px; border: solid 1px #e6e5e5; background-color: white;}
#index_body .new_jobs .list_box .job_box{width: 227px; height: 35px; line-height: 24px; padding: 12px; float: left; padding-right: 0px;}
#index_body .new_jobs .list_box .job_box a{color: #f09415; font-weight: bold; text-decoration: none; }
#index_body .new_jobs .list_box .job_box .txt_desc, #index_body .new_jobs .list_box .job_box .txt_desc a{color: #717171;}


