#news_body{width: 960px; margin: 14px auto auto auto; color: #717171;}

/*-----资讯首页----------*/
#news_body .search{width: 634px; height: 98px; border: solid 1px #e8e8e8; float: left; padding: 16px; padding-right: 0px;}
#news_body .search .title{font-size: 14px; font-weight: bold; color: #ffa72c; display: inline; margin-left: 5px;}
#news_body .search .auxiliary_title{font-size: 14px; margin-left: 10px; display: inline;}
#news_body .search .key_box{margin-top: 18px;}
#news_body .search .search_key{width: 529px; height: 28px; border: solid 1px #dddddd; border-right: none; background:url(../images/news-search-key-bg.jpg) repeat-x; float: left;}
#news_body .search .search_btn{width: 93px; height: 32px; background:url(../images/news-search-btn.jpg); border: none; float: left;}
#news_body .search .hot_key{margin-top: 17px; color: #717171; margin-left: 5px;}
#news_body .search .hot_key a{display: inline-block; padding-left: 10px; color: #717171; text-decoration: none;}



/*-----右侧论坛链接----------*/
#news_body .right_bbs_link{width: 297px; height: 129px; border: solid 1px #e8e8e8; float: right; text-align: center;}
#news_body .right_bbs_link a{display: block; margin-top: 27px;}

/*-----右侧广告1----------*/
#news_body .right_ad_1{width: 298px; height: 172px; margin-top: 28px; float: right;}

/*-----文章列表----------*/
#news_body .news_list{width: 650px; margin-top: 30px; float: left;}
#news_body .news_list .menu{width: 110px; float: left; border: solid 1px #e7e7e7; border-right: none;position: relative; z-index: 1;}
#news_body .news_list .menu ul{border: none;}
#news_body .news_list .menu ul li{list-style: none; height: 42px; width: 109px; line-height: 42px; text-align: center; font-size: 15px;}
#news_body .news_list .menu ul li a{width: 109px; height: 42px; line-height: 42px; text-align: center; display: block; text-decoration: none; color: #717171; border-bottom: solid 1px #e7e7e7; }
#news_body .news_list .menu .current{width: 129px; background:url(../images/news-list-menu-current-bg.jpg);}
#news_body .news_list .menu .current a{color: white;}
#news_body .news_list .list{width: 537px; float: left; border: solid 1px #e7e7e7; position: relative; z-index: 0; }
#news_body .news_list .list .head{width: 506px; float: right; height: 45px; line-height: 45px; border-bottom: solid 1px #d3d3d3; padding-left: 9px;}
#news_body .news_list .list .head a{color: #717171; text-decoration: none;}
#news_body .news_list .list .news_box{margin: 14px auto auto 25px; border-bottom: dashed 1px #dbdbdb;}
#news_body .news_list .list .news_box .title{font-size: 20px; color: #ffa63d; }
#news_body .news_list .list .news_box .info{color: #939393; margin-top: 16px;}
#news_body .news_list .list .news_box .desc{color: black; margin-top: 24px; line-height: 25px;}
#news_body .news_list .list .news_box .bottom{color: black; margin: 17px auto 10px auto;}
#news_body .news_list .list .news_box .bottom .share{float: left; margin-top: 12px;}
#news_body .news_list .list .news_box .bottom .more{width: 105px; height: 30px; text-decoration: none; line-height: 30px; display: block; color: white; font-size: 16px; text-align: center; background-color: #ffa63d; margin-right: 30px; float: right;}

/*-----热门文章标签----------*/
#news_body .right_hot_tag{width: 297px; margin-top: 27px; border: solid 1px #e8e8e8; float: right;}
#news_body .right_hot_tag .title{width: 188px; height: 40px; background:url(../images/news-right-hot_tag-title.jpg); margin: -5px auto auto 12px;}
#news_body .right_hot_tag .list{width: 100%; padding-top: 10px;}
#news_body .right_hot_tag .list a{padding: 10px; color: #717171; text-decoration: none; display: inline-block;}

/*-----热门讨论----------*/
#news_body .right_hot_discuss{width: 297px; margin-top: 27px; border: solid 1px #e8e8e8; float: right;}
#news_body .right_hot_discuss .title{width: 139px; height: 40px; background:url(../images/news-right-hot_discuss-title.jpg); margin: -5px auto auto 12px;}
#news_body .right_hot_discuss .list{width: 100%; padding-bottom: 10px;}
#news_body .right_hot_discuss .list .discuss_box{margin-top: 10px; margin-left: 14px;}
#news_body .right_hot_discuss .list .discuss_box .index{width: 16px; height: 16px; line-height: 16px; text-align: center; color: white; background-color: #ff7300; display: inline-block;}
#news_body .right_hot_discuss .list .discuss_box .discuss_title{width: 190px; height: 16px; line-height: 16px; padding-left: 7px; color: #717171; text-decoration: none; display: inline-block;}
#news_body .right_hot_discuss .list .discuss_box .counter{height: 16px; line-height: 16px; display: inline-block;}

