<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
//验证
$(document).ready(function() {
 $("#Form1").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   feedback:{
    required: true,
	minlength:10,
    maxlength:600
   }
	},
    messages: {
    feedback: {
    required: "请输入具体内容",
    minlength: jQuery.format("内容不能小于{0}个字符"),
	maxlength: jQuery.format("内容不能大于{0}个字符")
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
	}
    });
});
})
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">

当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;服务中心&nbsp;>>&nbsp;意见建议
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_company/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>意见建议</h1>
		</div>
		<form action="?act=feedback_save" method="post" id="Form1" >
		<table width="90%" border="0" align="center" cellpadding="3" cellspacing="3" style=" margin-bottom:30px; margin-top:20px;">
             <tr>
                <td width="100" align="right">反馈类型：</td>
                <td  >
				<label>
                  <input name="infotype" type="radio" value="1" checked="checked" />
                  意见</label>
				  &nbsp;&nbsp;&nbsp;&nbsp;
				  <label>
                  <input type="radio" name="infotype" value="2" />
                  建议</label>
				    &nbsp;&nbsp;&nbsp;&nbsp;
				  <label>
                  <input type="radio" name="infotype" value="3" />
                  求助</label>
				     &nbsp;&nbsp;&nbsp;&nbsp;
				  <label>
                  <input type="radio" name="infotype" value="4" />
                  投诉</label>				  </td>
              </tr>
              <tr>
                <td align="right" valign="top">具体内容：</td>
                <td>
				<textarea name="feedback"  id="feedback" style="width:400px; height:80px; font-size:12px; line-height:180%; margin-bottom:6px;" ></textarea>
				<br />
				</td>
              </tr>
              <tr>
                <td align="right" valign="top">&nbsp;</td>
                <td><input type="submit" name="Submit" value="提交"  class="user_submit" /></td>
              </tr>
        </table></form>
			{#if $feedback#}
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="link_lan">
			<tr>
          <td height="28" bgcolor="#EDFBFE" style=" border-bottom:1px #CCCCCC dashed;border-top:1px #CCCCCC dashed;padding-left:10px;">&nbsp;&nbsp;<strong>您的反馈</strong></td>
		</tr>
		  {#section name=feedback loop=$feedback#}
            <tr>
              <td height="28" style="   padding-left:15px;">内容：{#$feedback[feedback].feedback#} <span style="color:#999999">({#$feedback[feedback].addtime|date_format:"%Y-%m-%d"#})</span> <a href="?act=del_feedback&id={#$feedback[feedback].id#}">[删除]</a></td>
            </tr>
            <tr>
              <td height="28" style=" border-bottom:1px #CCCCCC  solid; padding-left:15px;">管理员回复：
			  {#if $feedback[feedback].reply#}
			  {#$feedback[feedback].reply#} <span style="color:#999999">({#$feedback[feedback].feedbacktime|date_format:"%Y-%m-%d"#})</span> 
			  {#else#}
			  <span style="color:#999999">管理员未回复</span>
			  {#/if#}			  </td>
            </tr> 
			{#/section#}           
        </table>
		{#/if#}
	  </div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
