<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script>
$(document).ready(function()
{
function chk_form()
{
//---
var flag = false;
var oRadio = document.getElementsByName("payment_name"); 
var msglen=oRadio.length;
	if (msglen==1)
	{
		if(document.form1.payment_name.checked==true)
		{
		flag = true;
		}
	}
	else
	{
		for(i=0;i<msglen;i++)
		{
			if(document.form1.payment_name[i].checked==true)
			{
			flag = true;
			}
		}
	}
//----
if (flag == false)
{
    alert("请选择支付方式")
    return (false);
}
return (true);
}
})
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">

当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;服务中心&nbsp;>>&nbsp;申请服务
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_company/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>申请服务</h1>
		</div>
	<form id="form1" name="form1" method="post" action="?act=setmeal_order_add_save" onsubmit="return chk_form();">
		 <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF"  style="margin-bottom:130px;" >
		  <tr>
              <td width="18%" height="30"  align="right" bgcolor="#FFFFFF" style="border-bottom:1px  #93C4DB dashed; color:#FF0000" >申请服务：</td>
              <td  bgcolor="#FFFFFF" style="border-bottom:1px  #93C4DB dashed">
			   <select style=" font-size:12px;" name="setmealid">
	  {#foreach from=$setmeal item=list#}
	    
			     <option value="{#$list.id#}" {#if $list.id==$smarty.get.setmealid#}selected="selected" {#/if#}>{#$list.setmeal_name#}
		 (服务费:{#if $list.expense=="0"#}免费{#else#}{#$list.expense#}元{#/if#},服务时间:{#if $list.days=="0"#}永久{#else#}{#$list.days#}天{#/if#})</option>
		 {#/foreach#}
	  
			   </select>
			  </td>
            </tr>
            <tr>
              <td width="18%" height="20"  align="right" valign="bottom" bgcolor="#F8FBFC"  ><strong>选择支付方式：</strong></td>
              <td width="82%" bgcolor="#F8FBFC">&nbsp;</td>
            </tr>
            <tr>
              <td height="30" colspan="2" valign="top" bgcolor="#F8FBFC" style="border-bottom:1px  #93C4DB dashed"> {#section name=payment loop=$payment#}
                <div style="padding-left:125px; margin-bottom:10px; margin-top:2px;color: #666666" onmousemove="this.style.color='#FF0000'" onmouseout="this.style.color='#666666'">
                    <label>
                    <input type="radio" name="payment_name" value="{#$payment[payment].typename#}" id="radio"/>
                    <img src="{#$QISHI.site_dir#}include/payment/logo/{#$payment[payment].typename#}.gif" width="85" height="30" align="absmiddle" /> ({#$payment[payment].p_introduction#})</label>
                </div>
                {#/section#}</td>
            </tr>
            <tr>
              <td height="30" align="right"  >&nbsp; </td>
              <td height="40"  >
			  
			 <input type="submit" name="Submit" value="确定申请"  class="user_submit"/>
			 &nbsp;&nbsp;&nbsp;&nbsp;
			 <input type="button" name="Submit" value="返回"  class="user_submit" onclick="Javascript:window.history.go(-1)"/>
			 </td>
            </tr>
          </table>
		  
    </form>
	</div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
