{#qishi_resume_show set="列表名:show,简历ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$show.fullname#}的个人简历 - {#$QISHI.site_name#}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
		var id="{#$show.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_click.php", { "id": id,"time":tsTimeStamp,"act":"resume_click"},
			function (data,textStatus)
			 {			
				$(".click").html(data);
			 }
		);
		$.get("{#$QISHI.site_dir#}plus/ajax_contact.php", { "id": id,"time":tsTimeStamp,"act":"resume_contact"},
			function (data,textStatus)
			 {			
				$("#resume_contact").html(data);
				//下载简历
				$("#download").click(function(){
				var url="{#$QISHI.site_dir#}user/user_download_resume.php?id="+id+"&act=download&t="+tsTimeStamp;
				dialog("下载简历","url:get?"+url,"500px","auto","");
				});	
				//邀请面试
				$("#invited").click(function(){
				var url="{#$QISHI.site_dir#}user/user_invited.php?id="+id+"&act=invited&t="+tsTimeStamp;
				dialog("邀请面试","url:get?"+url,"500px","auto","");
				});	
				//添加都人才库
				$(".add_resume_pool").click(function(){
				var url="{#$QISHI.site_dir#}user/user_favorites_resume.php?id="+id+"&act=add&t="+tsTimeStamp;
				dialog("添加到人才库","url:get?"+url,"500px","auto","");				
				});	
			 }
		);
	$("#newbuddy").click(function(){
	dialog("加为好友","url:get?{#$QISHI.site_dir#}user/user_buddy.php?tuid={#$show.uid#}","350px","auto","");
	});
	$("#addpms").click(function(){
	var url="{#$QISHI.site_dir#}user/user_pms.php?tuid={#$show.uid#}";
	dialog("发送短消息","url:get?"+url,"400px","auto","");
	});
});
</script>
</head>
<body>
  <table  border="0" align="center" cellpadding="0" cellspacing="0"  class="resume_show link_bk" >
  <tr>
    <td  >&nbsp;&nbsp;<a href="{#$QISHI.site_domain#}{#$QISHI.site_dir#}">{#$QISHI.site_name#}</a><span  style="color: #666666">&nbsp;&nbsp;({#$QISHI.site_domain#})</span></td>
    <td   class="top_a" >
	<a href="{#$QISHI.site_domain#}{#$QISHI.site_dir#}">网站首页</a> <a href="javascript:window.print();">打印简历</a>  <a href="javascript:void(0)"  class="add_resume_pool">添加到人才库</a>
	<a href="javascript:void(0)" id="addpms">发短消息</a>
	<a href="javascript:void(0)" id="newbuddy">加为好友</a>
	</td>
  </tr>
</table>
<table  border="0" align="center" cellpadding="0" cellspacing="0"  class="resume_show">
  <tr>
    <td  class="btit">
	<div class="qrcode"><img src="{#$QISHI.site_dir#}plus/url_qrcode.php?url={#$QISHI.site_domain#}{#"QS_resumeshow,id:"|cat:$show.id|qishi_url#}" alt="二维码"/></div>
	<h1>{#$show.fullname#}的个人简历{#if $show.talent=="2"#} <img src="{#$QISHI.site_template#}images/66.gif"   border="0" align="absmiddle"  alt="高级人才"/>{#/if#}</h1>
	<div class="tip">
			<span style="color: #600000">更新日期：{#$show.refreshtime|date_format:"%Y-%m-%d"#}</span>

			<br />
	学历：{#$show.education_cn#}	&nbsp;&nbsp;工作经验：{#$show.experience_cn#}&nbsp;&nbsp;浏览：<span class="click"></span>次	</div>
    </td>
  </tr>
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA"  class="resume_show tablebg">
  <tr>
    <td  colspan="5" class="title"><strong>基本信息</strong></td>
    </tr>
  <tr>
    <td class="tdbg" width="80" align="right"  >
	真实姓名：</td>
    <td class="tdbg" >{#if $show.display_name=="2"#}<span style="color:#FF6600">[用户已隐藏]</span>{#/if#}{#$show.fullname#}</td>
    <td class="tdbg" width="80" align="right" >
	性别：</td>
    <td class="tdbg"  >{#$show.sex_cn#}</td>
    <td class="tdbg" width="140" rowspan="6" align="center"  ><img src="{#$show.photosrc#}" width="120" height="150" /></td>
  </tr>
  <tr>
    <td class="tdbg" align="right"  >年龄：</td>
    <td class="tdbg" >{#$show.age#} 岁</td>
    <td class="tdbg" align="right" >身高：</td>
    <td class="tdbg"  >{#if $show.height=="0"#}未知{#else#}{#$show.height#}CM{#/if#}</td>
  </tr>
  <tr>
    <td class="tdbg" align="right"  >婚姻状况：</td>
    <td class="tdbg" >{#$show.marriage_cn#}</td>
    <td class="tdbg" align="right"  >户籍所在：</td>
    <td class="tdbg"  >{#$show.householdaddress#}</td>
  </tr>
  <tr>
    <td class="tdbg" align="right">最高学历：</td>
    <td class="tdbg" >{#$show.education_cn#}</td>
    <td class="tdbg" align="right">工作经验：</td>
    <td class="tdbg" >{#$show.experience_cn#}</td>
  </tr>
  <tr>
    <td class="tdbg" align="right">联系地址：</td>
    <td class="tdbg" >{#$show.address#}</td>
    <td class="tdbg" align="right">浏览次数：</td>
    <td class="tdbg" ><span class="click"></span>次</td>
  </tr>
  <tr>
    <td class="tdbg" align="right">刷新时间：</td>
    <td class="tdbg" >{#$show.refreshtime|date_format:"%Y-%m-%d"#}</td>
    <td class="tdbg" align="right">简历等级：</td>
    <td class="tdbg" >
	{#if $show.talent=="2"#}
	高级
	{#else#}
	普通
	{#/if#}
	</td>
  </tr>
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show">
    <tr>
      <td   colspan="2" class="title"><strong>求职意向</strong></td>
    </tr>
    <tr>
      <td class="tdbg" width="120" align="right">最近工作过的职位：</td>
      <td class="tdbg" >{#$show.recentjobs#}</td>
    </tr>
	<tr>
      <td align="right" bgcolor="#FAFAFA">期望工作地：</td>
      <td bgcolor="#FFFFFF">{#$show.district_cn#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">期望岗位性质：</td>
      <td class="tdbg" >{#$show.nature_cn#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">期望月薪：</td>
      <td class="tdbg" >{#$show.wage_cn#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">期望从事的岗位：</td>
      <td class="tdbg" >{#$show.intention_jobs#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">期望从事的行业：</td>
      <td class="tdbg" >{#$show.trade_cn#}</td>
    </tr>
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show">
    <tr>
      <td  colspan="2" class="title"><strong>技能特长</strong></td>
    </tr>
    <tr>
      <td class="tdbg" width="80" align="right">技能特长：</td>
      <td class="tdbg" >{#$show.specialty|nl2br#}</td>
    </tr>
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show">
    <tr>
      <td  colspan="2" class="title"><strong>教育经历</strong></td>
    </tr>
	{#foreach from=$show.education_list item=list#}
	  <tr>
      <td class="tdbg" colspan="2"><strong>{#$list.school#} </strong>({#$list.education_cn#})</td>
    </tr>
    <tr>
      <td class="tdbg" width="80" align="right">起止年月：</td>
      <td class="tdbg" >{#$list.start#}至{#$list.endtime#}&nbsp;</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">学校名称：</td>
      <td class="tdbg" >{#$list.school#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">专业名称：</td>
      <td class="tdbg" >{#$list.speciality#}</td>
    </tr>
    <tr>
      <td class="tdbg" align="right">获得学历：</td>
      <td class="tdbg" >{#$list.education_cn#}</td>
    </tr>
	{#/foreach#}
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show">
    <tr>
      <td  colspan="2" class="title"><strong>工作经历</strong></td>
    </tr>
	{#if $show.work_list#}
	{#foreach from=$show.work_list item=list#}
	 <tr>
      <td class="tdbg" colspan="2"><strong>{#$list.companyname#}</strong> - {#$list.jobs#}</td>
    </tr>
    <tr>
      <td class="tdbg" width="80" align="right">起止日期：</td>
      <td class="tdbg" >{#$list.start#}至{#$list.endtime#}&nbsp;</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">企业名称：</td>
      <td class="tdbg" >{#$list.companyname#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">从事职位：</td>
      <td class="tdbg" >{#$list.jobs#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">业绩表现：</td>
      <td class="tdbg" >{#$list.achievements#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">企业介绍：</td>
      <td class="tdbg" >{#$list.companyprofile#}</td>
    </tr>
	{#/foreach#}
	{#else#}
    <tr>
      <td class="tdbg" colspan="2" >没有填写工作经历。</td>
    </tr>
	{#/if#}
</table>
  <table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show">
    <tr>
      <td  colspan="2" class="title"><strong>培训经历</strong></td>
    </tr>
	{#if $show.training_list#}
	{#foreach from=$show.training_list item=list#}
	 <tr>
      <td class="tdbg" colspan="2"><strong>{#$list.agency#}</strong> - {#$list.course#}</td>
    </tr>
    <tr>
      <td class="tdbg" width="80" align="right">起止日期：</td>
      <td class="tdbg" >{#$list.start#}至{#$list.endtime#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">培训机构：</td>
      <td class="tdbg" >{#$list.agency#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">培训课程：</td>
      <td class="tdbg" >{#$list.course#}</td>
    </tr>
	<tr>
      <td class="tdbg" align="right">培训描述：</td>
      <td class="tdbg" >{#$list.description#}</td>
    </tr>
	{#/foreach#}
	{#else#}
    <tr>
      <td class="tdbg" colspan="2" >没有填写培训经历。</td>
    </tr>
	{#/if#}
</table>

<table  border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#F3E8DA" class="resume_show resume_contact" >
    <tr>
      <td class="title"><strong>联系方式</strong></td>
    </tr>
    <tr>
      <td class="tdbg" >
	  <div id="resume_contact"></div>
	  </td>
    </tr>
</table>
<table  height="100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tdbg">&nbsp;</td>
  </tr>
</table>
</body>
</html>