/*--------职位展示-------*/
.jobs-show {width:985px; margin:0 auto; margin-top:8px;}
.jobs-show  .left{width: 710px; float:left}
.jobs-show  .left .show{width:670px;border:1px solid #E4E4E4; padding:15px;}
.jobs-show  .left .show h1{font-family:"microsoft yahei","宋体"; font-size:30px; font-weight:lighter; color:#000000; line-height:30px; padding-bottom:10px;}
.jobs-show  .left .show .imgtipbox{ width:650px; height:50px; line-height:130%; padding-top:6px;  padding-left:10px; border-bottom:1px #E4E4E4 dashed; margin-bottom:15px;}
.jobs-show  .left .show .liimg{width:92px; height:40px; float:left; background-color: #FFFFCC; color:#999999; background:url(../images/3.gif) no-repeat 0px 0px; padding-left:38px;}
.jobs-show  .left .show .liimg.li1{}
.jobs-show  .left .show .liimg.li2{background:url(../images/3.gif) no-repeat 0px -50px;}
.jobs-show  .left .show .liimg.li3{background:url(../images/3.gif) no-repeat 0px -100px;}
.jobs-show  .left .show .liimg.li4{background:url(../images/3.gif) no-repeat 0px -150px;}
.jobs-show  .left .show .liimg.li5{background:url(../images/3.gif) no-repeat 0px -200px;}
.jobs-show  .left .show .share{ text-align:center; padding:10px; padding-left:180px;}
.jobs-show  .left .show .tip{ color: #009900; height:30px;}
.jobs-show  .left .show .contact{ padding:3px; border:1px   #FF9900 solid; background-color: #FDFBF0; padding-left:8px;}
.jobs-show  .left .show .jobsshow{ line-height:180%;word-break:break-all;word-wrap:break-word;}
.jobs-show  .left .show .jobsshow .title{ height:33px ; line-height:33px; font-size:14px; color:#333333}
.jobs-show  .left .show .jobsshow .remind{ background-color: #FFFDE8; border:1px #FF9900 solid; color:#FF0000; padding:8px 15px;}
.jobs-show  .left .show .floatli li{width:335px; float:left; height:26px; line-height:26px; overflow:hidden}
.jobs-show  .left .show .company{ line-height:180%; position:relative}
.jobs-show  .left .show .company .logo{ position:absolute; right:0px; top:15px; }
.jobs-show  .left .show .company .ctitle{ height:33px ; line-height:33px; font-size:14px; color:#333333}
.jobs-show  .left .show .company  li{  height:26px; line-height:26px;}
.jobs-show  .left .show .joblist{ line-height:180%}
.jobs-show  .left .show .joblist  .listtit{ font-weight:bold}
.jobs-show  .left .show .joblist  .list{ border-bottom:1px  #CCCCCC dashed}
.jobs-show  .right{width:275px;float:left;}
.jobs-show  .right .txtbox{width:273px;border:1px solid #E4E4E4; margin-bottom:8px;position:relative}
.jobs-show  .right .txtbox .qrcode{position:absolute; top:38px; left:3px;}
.jobs-show  .right .txtbox .tit{height:30px;background:url(../images/52.gif) repeat-x 0px -239px; border-bottom:1px solid #E4E4E4; line-height:30px; font-size:14px; font-weight:bold; color:#666666; padding-left:15px;}
.jobs-show  .right .txtbox .txt{ padding-top:5px; padding-left:75px; }
.jobs-show  .right .txtbox .txt li{ padding-left:10px;}
.jobs-show  .right .txtbox .pm{height:30px; border-top:1px #E4E4E4 solid; background-color:#F6F6F6; margin-top:5px;}
.jobs-show  .right .txtbox .pm .pleft{ width:60px; float:left; height:20px; padding-top:10px; padding-left:60px; background:url(../images/4.gif) no-repeat 42px 11px;}
.jobs-show  .right .txtbox .pm .pright{ width:60px; float:left; height:20px; padding-top:10px; padding-left:60px; background:url(../images/4.gif) no-repeat 42px -37px;}
.jobs-show  .right .txtbox .txt1{ padding:5px; padding-left:15px; line-height:180%; border-bottom:1px #E4E4E4 solid}
/*--------职位展示-评论------*/
.commentbox{width:700px;border:1px solid #E4E4E4; margin-top:8px; }
.commentbox .commenttopbox{width:700px; height:140px; background-color:#F5F5F5; border-bottom:1px #E4E4E4 solid; position:relative}
.commentbox .commenttopbox .loginbox{ width:700px; height:80px; text-align:center; padding-top:60px; position:absolute; left:0px; top:0px; background-color: #FFFFFF;background:url(../images/bg.png);color:#000000; z-index:0}
.commentbox .commenttopbox .titbox{width:700px;}
.commentbox .commenttopbox .titbox .tleft{width:200px;font-family:"microsoft yahei","宋体"; font-size:14px; padding-left:15px; height:35px; line-height:35px; float:left; color:#000000}
.commentbox .commenttopbox .titbox .tright{width:465px;font-size:12px; float:left; text-align:right;height:35px; line-height:35px; color:#000000}
.commentbox .commenttopbox .titbox .tright span{ font-weight:bold; padding:3px; font-size:14px; color:#FF3300}
.commentbox .commenttopbox .textareabox{width:670px; padding-left:15px;}
.commentbox .commenttopbox .textareabox textarea{ width:660px; height:50px; border:1px #CCCCCC solid; background-color:#FFFFFF; padding:3px; color:#666666; line-height:150%; font-size:12px;}
.commentbox .commenttopbox .buttonbox{width:700px; padding-top:10px;}
.commentbox .commenttopbox .buttonbox .bleft{width:185px; float:left; padding-left:15px;}
.commentbox .commenttopbox .buttonbox .bleft input{ width:100px; height:18px; line-height:18px; font-size:12px; border:1px #CCCCCC solid; background-color:#FFFFFF; padding:2px;}
.commentbox .commenttopbox .buttonbox .bcenter{ width:400px; float:left;text-align:right; color:#FF0000; padding-top:7px;}
.commentbox .commenttopbox .buttonbox .bright{width:82px; float:left;text-align:right}
.commentbox .commenttopbox .buttonbox .bright .button{background:url(../images/43.gif) no-repeat; width:68px; height:28px; border:0px; font-size:14px; color:#FFFFFF; text-align:center}
.commentbox .noinfo{ height:50px; line-height:50px; text-align:center; font-size:12px; color:#000000}
.commentbox .listbox{width:700px; border-bottom:1px #E4E4E4 solid; margin-top:10px; padding-bottom:10px;}
.commentbox .listbox .leftimgbox{ width:55px; float:left; padding-left:15px;}
.commentbox .listbox .txtbox{width:610px; float:left; line-height:180%;word-break:break-all;word-wrap:break-word;}
.commentbox .listbox .txtbox span{ padding-left:15px; color:#999999}
.commentbox .comment_more{ width:100%; height:25px; line-height:25px; text-align:center; background-color:#F5F5F5;}
.commentbox .comment_more span{ cursor:pointer}
/*--------企业展示-------*/
.company-show-topnav{border:1px solid #DBDBDB; height:87px;width:983px; margin:0 auto; margin-top:8px;background-image:url(../images/16.jpg); background-repeat:repeat-x;word-break:break-all;word-wrap:break-word; background-position:bottom; border-bottom:0px; position:relative}
.company-show-topnav .qrcode{position:absolute; top:0px; right:5px;}
.company-show-topnav .topcomname{ width:950px; height:45px; padding-left:20px; padding-top:10px;}
.company-show-topnav .topcomname h1{font-family:"microsoft yahei","宋体"; font-size:25px; font-weight:lighter; color:#000000;float:left; padding-right:15px;}
.company-show-topnav .snav{height:32px; width:960px; background-image: url(../images/59.gif); background-position:bottom;background-repeat:repeat-x; padding-left:20px;}
.company-show-topnav .snav a{ width:90px; height:30px; border:1px #DBDBDB solid; display:block; float:left; margin-right:10px; line-height:30px; text-align:center; font-family:"microsoft yahei","宋体"; font-size:14px; color:#666666; text-decoration:none; background-color:#FFFFFF}
.company-show-topnav .snav a.selected{font-weight:bold; height:28px; line-height:28px; color: #FF6600; border-bottom-color:#FFFFFF; border-top:3px #FF6600 solid}
.company-show {width:985px; margin:0 auto; margin-top:8px;}
.company-show  .left{width: 710px; float:left}
.company-show  .left .show{width:670px;border:1px solid #E4E4E4; padding:15px; line-height:180% ; position:relative;word-break:break-all;word-wrap:break-word;}
.company-show  .left .show  .item{width:500px; margin-bottom:20px;}
.company-show  .left .show  .item li{height:26px; line-height:26px;}
.company-show  .left .show  .title{ height:33px ; line-height:33px; font-size:14px; color:#333333; padding-top:10px;}
.company-show  .left .show  .logo{ right:15px; top:40px; position:absolute}
.company-show  .left .show  .listtit{ font-weight:bold}
.company-show  .left .show  .list{ border-bottom:1px  #CCCCCC dashed}
.company-show  .left .show .contact{ padding:3px; border:1px   #FF9900 solid; background-color: #FDFBF0; padding-left:8px;}
.company-show  .right{width:275px;float:left;}
.company-show  .right .txtbox{width:273px;border:1px solid #E4E4E4; margin-bottom:8px;position:relative}
.company-show  .right .txtbox .qrcode{position:absolute; top:38px; left:3px;}
.company-show  .right .txtbox .tit{height:30px;background:url(../images/52.gif) repeat-x 0px -239px; border-bottom:1px solid #E4E4E4; line-height:30px; font-size:14px; font-weight:bold; color:#666666; padding-left:15px;}
.company-show  .right .txtbox .txt{ padding-top:5px; padding-left:75px; }
.company-show  .right .txtbox .txt li{ padding-left:15px;}
.company-show  .right .txtbox .pm{height:30px; border-top:1px #E4E4E4 solid; background-color:#F6F6F6; margin-top:5px;}
.company-show  .right .txtbox .pm .pleft{ width:60px; float:left; height:20px; padding-top:10px; padding-left:60px; background:url(../images/4.gif) no-repeat 42px 11px;}
.company-show  .right .txtbox .pm .pright{ width:60px; float:left; height:20px; padding-top:10px; padding-left:60px; background:url(../images/4.gif) no-repeat 42px -37px;}
.company-show  .right .txtbox .txt1{ padding:5px; padding-left:15px; line-height:180%; border-bottom:1px #E4E4E4 solid}
/*--------评论详细页-------*/
.commentjob{width:700px;border:1px solid #E4E4E4; }
.commentjob .jobbox{ width:700px; height:148px;  }
.commentjob .jobbox .jleft{ width:520px; padding-left:15px; padding-top:15px; float:left}
.commentjob .jobbox .jleft h2{font-family:"microsoft yahei","宋体"; font-size:20px; font-weight:lighter; color:#000000; height:30px;}
.commentjob .jobbox .jleft .tip{ height:20px; color:#009900; padding-top:5px;}
.commentjob .jobbox .jleft .amount{ height:20px; color:#000000; padding-top:5px;}
.commentjob .jobbox .jleft .txt{ color: #999999; line-height:180%;word-break:break-all;word-wrap:break-word;}
.commentjob .jobbox .jright{width:95px; padding-top:18px; padding-left:20px; float:left}
.commentjob .jobbox .jright .showurl a{ width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; display:block;margin-bottom:15px;}
.commentjob .jobbox .jright .showurl a:hover { background-position:0px 0px; color:#FFFFFF; text-decoration: none}
.commentjob .jobbox .jright .abox{width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; cursor:pointer; margin-bottom:15px;}
.commentjob .jobbox .jright .morebox{width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; cursor:pointer; margin-bottom:15px; position:relative}
.commentjob .jobbox .jright .morebox .more{ position:absolute; left:0px; top:0px; width:94px; height:100px; background-color:#ffffff; display:none; border:1px #CCCCCC solid; line-height:23px; padding-top:5px;}
/*--------企业职位列表-------*/
.jobs-list{width:700px;border:1px solid #E4E4E4; padding-bottom:10px;}
.jobs-list .joblistbox{ width:675px; height:148px; border:1px solid #E4E4E4; margin-left:13px; margin-top:10px;}
.jobs-list .joblistbox .jleft{ width:520px; padding-left:15px; padding-top:15px; float:left}
.jobs-list .joblistbox .jleft h2{font-family:"microsoft yahei","宋体"; font-size:20px; font-weight:lighter; color:#000000; height:30px;}
.jobs-list .joblistbox .jleft .tip{ height:20px; color:#009900; padding-top:5px;}
.jobs-list .joblistbox .jleft .amount{ height:20px; color:#000000; padding-top:5px;}
.jobs-list .joblistbox .jleft .txt{ color: #999999; line-height:180%;word-break:break-all;word-wrap:break-word;}
.jobs-list .joblistbox .jright{width:95px; padding-top:18px; padding-left:20px; float:left}
.jobs-list .joblistbox .jright .showurl a{ width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; display:block;margin-bottom:15px;}
.jobs-list .joblistbox .jright .showurl a:hover { background-position:0px 0px; color:#FFFFFF; text-decoration: none}
.jobs-list .joblistbox .jright .abox{width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; cursor:pointer; margin-bottom:15px;}
.jobs-list .joblistbox .jright .morebox{width:94px; height:27px; line-height:27px; text-align:center;background:url(../images/2.gif) repeat-x 0px -28px; cursor:pointer; margin-bottom:15px; position:relative}
.jobs-list .joblistbox .jright .morebox .more{ position:absolute; left:0px; top:0px; width:94px; height:100px; background-color:#ffffff; display:none; border:1px #CCCCCC solid; line-height:23px; padding-top:5px;}
/*--------评论列表-------*/
.comment-list{width:700px;border:1px solid #E4E4E4; padding-bottom:10px;}
.comment-list .joblistbox{ width:675px; height:170px; border:1px solid #E4E4E4; margin-left:13px; margin-top:10px;}
.comment-list .joblistbox .jleft{ width:340px; padding-left:15px; padding-top:15px; height:155px; float:left; border-right:1px #E4E4E4 solid; padding-right:15px;}
.comment-list .joblistbox .jleft h2{font-family:"microsoft yahei","宋体"; font-size:20px; font-weight:lighter; color:#000000; height:30px;}
.comment-list .joblistbox .jleft .tip{ height:20px; color:#009900; padding-top:5px;}
.comment-list .joblistbox .jleft .amount{ height:20px; color:#000000; padding-top:5px;}
.comment-list .joblistbox .jleft .txt{ color: #999999; line-height:180%;word-break:break-all;word-wrap:break-word;}
.comment-list .joblistbox .jright{width:284px; height:170px; padding-left:20px; float:left; background-color:#F5F5F5}
.comment-list .joblistbox .jright .titlebox{width:270px;padding-top:10px; height:20px; border-bottom:1px  #CCCCCC solid;}
.comment-list .joblistbox .jright .titlebox .tleft{ width:150px; float:left}
.comment-list .joblistbox .jright .titlebox .tright{ width:120px; float:left; text-align:right}
.comment-list .joblistbox .jright .libox{width:270px;height:88px; padding-top:8px; padding-top:8px;}
.comment-list .joblistbox .jright .libox .clist{ width:270px; height:43px;}
.comment-list .joblistbox .jright .libox .clist .cleft{ width:40px; height:35px; float:left; padding-top:5px;}
.comment-list .joblistbox .jright .libox .clist .cright{ width:230px; height:40px; float:left; overflow:hidden; line-height:20px; color:#666666}
.comment-list .joblistbox .jright .libox .clist .cright span{ color:#999999; padding-left:20px;}
.comment-list .joblistbox .jright .nocomment{ text-align:center; padding-top:35px;}
.comment-list .joblistbox .jright .sub{ width:170px; height:28px;  background-color:#FF8A00; margin-left:46px; padding-left:4px; padding-top:4px;}
.comment-list .joblistbox .jright .sub .sleft{ width:78px; height:19px; background-color:#FFFF99; float:left; padding-left:5px; padding-top:5px;}
.comment-list .joblistbox .jright .sub .sright{ width:65px;float:left; padding-top:5px;text-align:right; color:#FFFFFF}
/*--------企业新闻-------*/
.news-list .tit{height:30px;border-bottom:1px solid #E4E4E4; line-height:30px;}
.news-list .tit h1 {font-size:14px; font-weight:bold; color:#666666;padding:0px; margin:0px; padding-left:15px;}
.news-list .txt { background:url(../images/19.gif) no-repeat 13px 12px; padding:8px;padding-left:30px; line-height:180%; border-bottom:1px solid #E4E4E4;}
.news-list .txt h2 { font-size:14px; font-weight:bold ; padding:0px; margin:0px;}
.news-list .txt em { color: #009900; margin-right:30px;font-style: normal}
/*--------企业新闻详细页-------*/
.news-show h1{text-align:center; font-size:23px; line-height:180%;  font-weight:bold; color:#000000;margin-top:15px; margin-bottom:12px; }
.news-show .date{width: 600px;text-align:center; height:28px; line-height:28px; border-top:1px #E4E4E4 solid; border-bottom:1px #E4E4E4 solid; margin-left:34px; }
.news-show .txt { padding:15px; font-size:14px;line-height:180%;}
/*--------企业图片-------*/
.company-img .imgbox{width:320px; height:175px;padding-left:15px; float:left; margin-top:3px; margin-bottom:8px;}
.company-img .imgbox .imglist{width:295px; height:165px; padding:2px; border:1px #EBEBEB solid;  background-color:#F7F7F7; text-align:center}
/*--------营业执照图标-------*/
.company_license1{background:url(../images/1.gif) no-repeat 0px 0px; width:38px; height:24px; margin-top:5px; margin-left:5px; float:left}
.company_license2{background:url(../images/1.gif) no-repeat 0px -25px;width:38px; height:24px;margin-top:5px; margin-left:5px; float:left}
.company_license3{background:url(../images/1.gif) no-repeat 0px -51px;width:23px; height:18px;margin-top:0px; margin-left:5px; float:left}
.company_license4{background:url(../images/1.gif) no-repeat 0px -72px;width:23px; height:18px;margin-top:0px; margin-left:5px; float:left}