{#include file="sys/admin_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
<script  charset="utf-8" src="kindeditor/kindeditor.js"></script>
 <script type="text/javascript" src="js/jquery.iColorPicker.js"></script>
 <script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	//日期
	$(function() { 
	$(".date_input").date_input(); 
	});
	
	
	//指定密码类型
	var status=$("#status :radio[checked]").val();
	status=="1"?$(".status1").show():$(".status1").hide();
	$("#status :radio").click(function(){
	var status=$("#status  :radio[checked]").val();
	status=="1"?$(".status1").show():$(".status1").hide();
	});	  
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="jobfair/admin_jobfair_nav.htm"#}
  <div class="clear"></div>
</div>
  <form action="?act=editsave" method="post"   name="FormData" id="FormData" >
<div class="toptit">基本信息</div>

  {#$inputtoken#}
    <table width="100%" border="0" cellpadding="3" cellspacing="3"  class="admin_table">
      <tr>
        <td width="130" align="right"  >标题：</td>
        <td align="left" ><input name="title" type="text"  class="input_text_400" value="{#$info.title#}" />
		 <span class="admin_note">如：2012年5月1日(星期六)医药行业主题招聘会</span>
		</td>
      </tr>
	  
	  <tr>
          <td align="right" >标题颜色：</td>
          <td >
		  <input id="color" name="color" type="text" value="{#$info.color#}" class="iColorPicker input_text_200"  onclick="iColorShow('color','icp_color')"/>		  </td>
      </tr>
		 <tr>
          <td align="right"   >标题加粗：</td>
          <td >
	 
          <input name="weight" type="checkbox" value="1"  {#if $info.weight=="1"#}checked="checked"{#/if#} />
      
		   </td>
        </tr>
		 <tr>
        <td   align="right"  >行业主题：</td>
        <td align="left" ><input name="industry" type="text"  class="input_text_400" value="{#$info.industry#}"/>
		 <span class="admin_note">如：医药行业,多个行业可用逗号隔开</span>
		</td>
		<tr>
		</tr>
		<tr>
        <td   align="right"  >展位数量：</td>
        <td align="left" ><input name="number" type="text"  class="input_text_400" value="{#$info.number#}"/>
		 <span class="admin_note">如：一层200个，二层150个</span>
		</td>
		</tr>
		 <tr>
        <td   align="right"  >举办日期：</td>
        <td align="left" >
		<input name="holddates" type="text"  class="input_text_200 date_input"  value="{#$info.holddates#}"/>

		</td>
      </tr>
		 <tr>
        <td   align="right"  >举办地址：</td>
        <td align="left" >
		<input name="address" type="text"  class="input_text_400" value="{#$info.address#}"/> 

		</td>
      </tr>
	  <tr>
        <td  align="right"  >乘车路线：</td>
        <td align="left" >
		<input name="bus" type="text"  class="input_text_400" value="{#$info.bus#}"/>

		</td>
      </tr>
	  <tr>
        <td   align="right"  >联系人：</td>
        <td align="left" >
		<input name="contact" type="text"  class="input_text_400" value="{#$info.contact#}"/>

		</td>
      </tr>
	  <tr>
        <td  align="right"  >联系电话：</td>
        <td align="left" >
		<input name="phone" type="text"  class="input_text_400" value="{#$info.phone#}"/>

		</td>
      </tr>
		 <tr>
          <td align="right"   >显示状态：</td>
          <td >
	        <label>
	        <input name="display" type="radio" value="1" {#if $info.display=="1"#}checked="checked"{#/if#} />
	        正常</label>
        
       <label>&nbsp;&nbsp;&nbsp;
	        <input type="radio" name="display" value="2" {#if $info.display=="2"#}checked="checked"{#/if#} />
	        暂停</label>
		   </td>
        </tr>
		<tr>
        <td align="right" >排序：</td>
        <td > 
          <input name="order" type="text"  class="input_text_200" maxlength="3" value="{#$info.order#}"/>
		  
		  <span class="admin_note">数字越大，排序越靠前</span>
         </td>
      </tr>
			  {#if $QISHI.subsite=="1"#}
	  <tr>
        <td align="right" >显示在：</td>
        <td colspan="4" >
		 <label ><input name="subsite_id" type="radio" value="0"  {#if $info.subsite_id=="0"#}checked="checked"{#/if#} />全站</label>
		&nbsp;&nbsp;&nbsp;
		{#foreach from=$subsite item=li#}
		<label ><input name="subsite_id" type="radio" value="{#$li.s_id#}"  {#if $info.subsite_id==$li.s_id#}checked="checked"{#/if#}/>{#$li.s_districtname#}</label>
		&nbsp;&nbsp;&nbsp;
		{#/foreach#}
		
	 </td>
      </tr>
	   {#/if#}
	   
	   
	   <tr>
        <td align="right" valign="top" >招聘会简介：</td>
        <td > 
           
		     <textarea name="introduction" style="width:450px; height:160px; font-size:12px; line-height:180%"  id="description">{#$info.introduction#}</textarea>
	   <script>
 KE.show({
				id : 'introduction',
				resizeMode : 1,
				allowPreviewEmoticons : false,
				allowUpload : false,
				items : [
				'source','fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|',  'link']
			});
		</script>	
		   
         </td>
      </tr>
	   
    </table>
		
		
		
		<div class="toptit">展位预定</div>
		 <table width="100%" border="0" cellpadding="3" cellspacing="3"  class="admin_table">
		 <tr  id="status">
          <td width="130" align="right"   >预定状态：</td>
          <td >
	        <label>
	        <input name="predetermined_status" type="radio" value="1" {#if $info.predetermined_status=="1"#}checked="checked"{#/if#}/>
	        允许预定</label>
        
       <label>&nbsp;&nbsp;&nbsp;
	        <input type="radio" name="predetermined_status" value="2" {#if $info.predetermined_status=="2"#}checked="checked"{#/if#}/>
	        停止预定</label>
			</td>
        </tr>
		 <tr class="status1">
          <td width="130" align="right"   >预定方式：</td>
          <td >
		  
	        <label>
	        <input name="predetermined_web" type="checkbox" value="1"  {#if $info.predetermined_web=="1"#}checked="checked"{#/if#}/>
	        在线预定</label>
        
       <label>&nbsp;&nbsp;&nbsp;
	        <input type="checkbox" name="predetermined_tel" value="1"  {#if $info.predetermined_tel=="1"#}checked="checked"{#/if#}/>
	        电话预定</label>		   
			
			
			
			<span class="admin_note">在线预定可在企业会员中心通过消耗积分预定展位</span>
			</td>
        </tr>
		 
		 <tr class="status1">
          <td align="right"    >在线预定消耗积分：</td>
          <td >
	        <input name="predetermined_point" type="text"  class="input_text_200"   value="{#$info.predetermined_point#}"/> 积分&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="admin_note">此设置仅在在线预定方式下有效</span>	
			</td>
        </tr>
		  
		<tr>
		<tr>
          <td align="right"   >预定开始时间：</td>
          <td >
	       <input name="predetermined_start" type="text" class="input_text_200 date_input" id="predetermined_start" maxlength="10"  value="{#$info.predetermined_start#}" />    <span class="admin_note">设置预定开始时间，格式 yyyy-mm-dd，留空为不限制开始时间</span>		   </td>
        </tr>
		<tr>
          <td align="right"   >预定结束时间：</td>
          <td >
	       <input name="predetermined_end" type="text" class="input_text_200 date_input" id="predetermined_end" maxlength="10" value="{#$info.predetermined_end#}"  />    <span class="admin_note">设置预定结束时间，格式 yyyy-mm-dd，留空为不限制结束时间</span>		   </td>
        </tr>
		<tr>
		  <td align="right"   >&nbsp;</td>
		  <td height="50" >
		  <input name="id" type="hidden" value="{#$info.id#}" />
		  <input type="submit" name="Submit3" value="提交" class="admin_submit"   />
<input name="submit222" type="button" class="admin_submit"    value="返回" onclick="Javascript:window.history.go(-1)"/>
		  </td>
		  </tr>
    </table>
  </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>