{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
 <div class="seltpye_x">
		<div class="left">举报时间</div>	
		<div class="right">
		<a href="{#"settr:"|qishi_parse_url#}" {#if $smarty.get.settr==""#}class="select"{#/if#}>不限</a>
		<a href="{#"settr:3"|qishi_parse_url#}" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"settr:7"|qishi_parse_url#}" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"settr:30"|qishi_parse_url#}" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>一月内</a>
		<a href="{#"settr:180"|qishi_parse_url#}" {#if $smarty.get.settr=="180"#}class="select"{#/if#}>半年内</a>
		<a href="{#"settr:360"|qishi_parse_url#}" {#if $smarty.get.settr=="360"#}class="select"{#/if#}>一年内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
</div>
  <form id="form1" name="form1" method="post" action="?act=del_report">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td width="15%"  class="admin_list_tit admin_list_first" >
	  <label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />投诉职位</label></td>
	       
            <td class="admin_list_tit">投诉内容</td>
		    <td width="180" align="center"  class="admin_list_tit">投诉者</td>
        <td width="160" align="center"   class="admin_list_tit">投诉时间</td>
	
      </tr>
	 {#foreach from=$list item=li#}
	 <tr> 
      <td  class="admin_list admin_list_first">
      <input name="id[]" type="checkbox" id="id" value="{#$li.id#}" />
	 
	 <a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a>	 </td>
	        
            <td  class="admin_list vtip" title="{#$li.content|nl2br#}" >{#$li.content#}</td>
			<td align="center"  class="admin_list">
			{#$li.username#}			</td>
        <td align="center"  class="admin_list">{#$li.addtime|date_format:"%Y-%m-%d | %H:%M"#}</td>
	
      </tr>
	 {#/foreach#}
  </table>
	  {#if !$list#}
<div class="admin_list_no_info">没有任何信息！</div>
{#/if#}
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
<input name="del" type="submit" class="admin_submit" id="ButDel" value="删除所选" onclick="return confirm('你确定要删除吗？')"/>
		</td>
        <td width="305" align="right">		
	    </td>
      </tr>
  </table>
  </form>
<div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>