<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>手机求职 - {#$QISHI.site_name#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/wap.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
</head>
<body>
{#include file="header.htm"#}
<div class="index">
  <div class="left">
   <iframe frameborder="0"  height="290" width="195" src="{#$QISHI.site_dir#}wap/wap.php" marginheight="0" marginwidth="0"></iframe>
  </div>  
  <div class="right">
    <div class="title"></div>
	<div class="title1"></div>	
    <div class="urlbox"><strong>{#$QISHI.site_domain#}{#$QISHI.site_dir#}wap</strong></div>
	
    <div class="txt">
	<p>欢迎登录手机频道，您可以在这里登陆在人才网、搜索职位、资讯信息和申请职位、刷新简历、查看面试邀请、浏览职场信息等</p>
	<p>WAP上网所产生GPRS流量费，按用户所在当地移动公司的资费为准，我们不会收取用户费用的，如果您在浏览网站产生费用，原因有二：浏览WAP网页时产生了GPRS流量费，被当地移动公司收取；如果您浏览WAP版人才网后转而其他收费网站，由其他收费网站收取您的费用。</p> 
</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>
