<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会员注册 -  {#$QISHI.site_name#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
{#include file="wap/header.htm"#}
<div class="wap_tit">
个人会员注册
</div><br />

请用电脑登录网站注册会员
{#include file="wap/footer.htm"#}
</body>
</html>
