<div class="global_head_top">
  <div class="body">
    <div class="logo"></div>
    <div class="nav">
      <a href="/">首页</a>
      <div class="nav_space">/</div>
      <a href="#">
        招聘
        <div class="more"></div>
      </a>
      <div class="nav_space">/</div>
      <a href="#">俱乐部</a>
      <div class="nav_space">/</div>
      <a href="#">官方讨论区</a>
      <div class="nav_space">/</div>
      <a href="#">
        更多
        <div class="more"></div>
      </a>
    </div>
    <div class="user_zone">
      <a href="#">登陆</a>
      <a href="#">注册</a>
      <a href="#">忘记密码</a>
      <a class="mail" href="#"></a>
      <a class="setting" href="#"></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="bottom_border"></div>
</div>
<div class="head_top">
	<div class="logo"></div>
  <div class="nav">
    <a class="index" href="/"></a>
    <a class="find_job" href="/jobs"></a>
    <a class="pioneer_job" href="#"></a>
    <a class="video" href="#"></a>
    <a class="school_job" href="#"></a>
    <a class="news" href="#"></a>
    <a class="service" href="#"></a>
  </div>
  <div class="clear"></div>
  <div class="bottom"></div>
</div>
<div class="clear"></div>