<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/default.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/index.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery-1.8.3.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.KinSlideshow.min.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.lazyload.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.comtip-min.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.index.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.core.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.widget.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.ui.tabs.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.user.selectlayer.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script type="text/javascript"> 
$(document).ready(function()
{
	index("{#$QISHI.site_dir#}","{#$QISHI.site_template#}");
	//紧急招聘
				$(function(){
				var _wrap=$('#emergencybox');
				var _interval=2000;
				var _moving;
				_wrap.hover(function(){
				clearInterval(_moving);
				},function(){
				_moving=setInterval(function(){
				var _field=_wrap.find('div:first');
				var _h=_field.height();
				_field.animate({marginTop:-_h+'px'},600,function(){
				_field.css('marginTop',0).appendTo(_wrap);
				})
				},_interval)
				}).trigger('mouseleave');
				});
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div id="index_body">
  <div class="index_banner">
    <img src="/templates/default/images/index_banner.jpg" width="593" height="320" alt="banner" />
  </div>
  <div id="login_panel" class="login">
    
  </div>
  <div class="clear"></div>
  <div class="search">
    <form id="Form1" action="/jobs/jobs-list.php">
      <script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
      <div class="left_search_box">
        <input type="text" class="key" type="text" id="index-search-key" maxlength="25" value="请输入职位名称、公司名称{#if $QISHI.jobsearch_type=='1'#}、技能特长、学校等{#/if#}关键字..." />
        <div style="position: relative;">
          <input type="text" id="trade_cn" name="trade_cn" class="short_input industry" value="选择行业" readonly="readonly" />
        	<input name="trade" id="trade" type="hidden" value="{#$company_profile.trade#}" />
        	<div id="menu2" class="dmenu shadow">
        		<ul>
        		{#qishi_get_classify set="类型:QS_trade,列表名:c_trade"#}{#foreach from=$c_trade item=list#}
        		<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
        		{#/foreach#}
        		</ul>
        	</div>
        </div>
        <div style="position: relative;">
          <input type="text" id="category_cn" name="category_cn" class="short_input profession" value="选择职位" readonly="readonly" />
      		<input name="category" id="category" type="hidden" value="{#$company_profile.category#}" />
      		<div id="menu1" class="dmenu shadow">
      			<ul>
      			{#qishi_get_classify set="类型:QS_jobs,id:0,列表名:c_province"#}{#foreach from=$c_province item=list#}
      			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
      			{#/foreach#}
      			</ul>
      		</div>
      		<div id="menu3_s" class="dmenu shadow" style="display:none"></div>
        </div>
        <div style="position: relative;">
          <input type="text" id="district_cn" class="short_input city"  readonly="readonly" name="district_cn" value="城市频道" />
      		<input name="district" id="district" type="hidden" value="{#$company_profile.district#}" />
      		<input name="sdistrict" id="sdistrict" type="hidden" value="{#$company_profile.sdistrict#}" />
      		<div id="menu3" class="dmenu shadow">
      			<ul>
      			{#qishi_get_classify set="类型:QS_district,id:0,列表名:c_province"#}{#foreach from=$c_province item=list#}
      			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
      			{#/foreach#}
      			</ul>
      		</div>
      		<div id="menu3_s" class="dmenu shadow" style="display:none"></div>
        </div>
      
        <div class="clear"></div>
        <input type="submit" class="submit" value="" id="index-search-button" />
      </form>
    </div>
	
		<script language="javascript" type="text/javascript">
		 $(document).ready(function()
		{
			  var a = $('#index-search-key').autocomplete({ 
				serviceUrl:'{#$QISHI.site_dir#}plus/ajax_common.php?act=hotword',
				minChars:1, 
				maxHeight:400,
				width:360,
				zIndex: 9999,
				deferRequestBy: 0 
			  });
		    ////行业
        //$.each(QS_trade, function(key, value){
        //  var trade = value.split(",");
        //  $("#index-search-trade").append("<option value='"+ trade[0] +"'>"+ trade[1] +"</option>");
        //});
		    ////职位
        //$.each(QS_jobs_parent, function(key, value){
        //  var job = value.split(",");
        //  $("#index-search-jobs").append("<option value='"+ job[0] +"'>"+ job[1] +"</option>");
        //});
		    ////城市
        //$.each(QS_city_parent, function(key, value){
        //  var city = value.split(",");
        //  $("#index-search-city").append("<option value='"+ city[0] +"'>"+ city[1] +"</option>");
        //});
        ////性质
        //$.each(QS_jobsnature, function(key, value){
        //  var nature = value.split(",");
        //  $("#index-search-nature").append("<label><input type='radio' name='nature' value='"+ nature[0] +"' />"+ nature[1] +"</label>");
        //});
		});
		</script>
    <div class="right_panel_box">
      <a class="write" href="#">写简历</a>
      <a class="tel" href="#">010-12345678</a>
    </div>
  </div>
  <div class="clear"></div>
  <div id="hot_job_category_tag" class="hot_job">
    <div class="category">
      <ul>
        <li><a href="#hot_job_category_list_1">热门职位</a></li>
        <li><a href="#hot_job_category_list_2">行业分类</a></li>
        <li><a href="#hot_job_category_list_3">易聘英才报</a></li>
      </ul>
    </div>
    <div id="hot_job_category_list_1" class="job_list">
      <div class="top">
        <div id="hot_job_tabs_1" class="tag">
          <ul class="buttons">
            <li><a href="#hot_job_tabs_1_tabs-1">房地产 装潢</a></li>
            <li><a href="#hot_job_tabs_1_tabs-2">教育咨询</a></li>
            <li><a href="#hot_job_tabs_1_tabs-3">市场传媒</a></li>
            <li><a href="#hot_job_tabs_1_tabs-4">计算机电子</a></li>
            <li><a href="#hot_job_tabs_1_tabs-5" class="last">财务金融</a></li>
          </ul>
          <div id="hot_job_tabs_1_tabs-1" class="list">
        		{#qishi_jobs_list set="列表名:job_list,显示数目:32,职位分类:1.182,职位名长度:4,排序:refreshtime>desc"#}
        		{#foreach from=$job_list item=list#}
         		  <a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a> 
        		{#/foreach#}
          </div>
          <div id="hot_job_tabs_1_tabs-2" class="list">
        		{#qishi_jobs_list set="列表名:job_list,显示数目:32,职位分类:317.324,职位名长度:4,排序:refreshtime>desc"#}
        		{#foreach from=$job_list item=list#}
         		  <a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a> 
        		{#/foreach#}
          </div>
          <div id="hot_job_tabs_1_tabs-2" class="list">
            <a href="#">房地产开发策划</a>
            <a href="#">装潢设计</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
            <a href="#">建筑工程管理</a>
            <a href="#">装潢设计</a>
            <a href="#">建筑工程管理</a>
            <a href="#">建筑工程管理</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="tag">
          <ul class="buttons">
            <li><a href="#" class="current">房地产 装潢</a></li>
            <li><a href="#">教育咨询</a></li>
            <li><a href="#">市场传媒</a></li>
            <li><a href="#">计算机电子</a></li>
            <li><a href="#" class="last">财务金融</a></li>
          </ul>
          <div class="list">
            <a href="#">装潢设计</a>
            <a href="#">房地产开发策划</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
            <a href="#">装潢设计</a>
            <a href="#">房地产开发策划</a>
            <a href="#">建筑工程管理</a>
            <a href="#">制冷暖通</a>
          </div>
        </div>
      </div>
    </div>
	<div id="hot_job_category_list_2" class="job_list">
    <ul class="trade_list">
  		{#qishi_get_classify set="类型:QS_trade,列表名:c_trade,显示数目:33"#}{#foreach from=$c_trade item=list#}
  		<li><a href="jobs/jobs-list.php?trade={#$list.id#}">{#$list.categoryname#}</a></li>
  		{#/foreach#}
    </ul>
  </div>
	<div id="hot_job_category_list_3" class="job_list">易聘英才报</div>
  </div>
  <div id="article_tab" class="article">
    <ul class="buttons">
      <li><a href="#article_tab-1">动态</a></li>
      <li><a href="#article_tab-2">职场资讯</a></li>
      <li><a href="#article_tab-3">招聘会</a></li>
    </ul>
    <div id="article_tab-1" class="list">
  		{#qishi_news_list set="列表名:article_list,显示数目:7,资讯小类:8,排序:article_order>desc"#}
  		{#foreach from=$article_list item=list#}
        <div class="row">
          <div class="list_title"></div><a href="{#$list.url#}">{#$list.title#}</a>
        </div>
  		{#/foreach#}
    </div>
    <div id="article_tab-2" class="list">
  		{#qishi_news_list set="列表名:article_list,显示数目:7,资讯小类:9,排序:article_order>desc"#}
  		{#foreach from=$article_list item=list#}
        <div class="row">
          <div class="list_title"></div><a href="{#$list.url#}">{#$list.title#}</a>
        </div>
  		{#/foreach#}
    </div>
    <div id="article_tab-3" class="list">
  		{#qishi_news_list set="列表名:article_list,显示数目:7,资讯小类:10,排序:article_order>desc"#}
  		{#foreach from=$article_list item=list#}
        <div class="row">
          <div class="list_title"></div><a href="{#$list.url#}">{#$list.title#}</a>
        </div>
  		{#/foreach#}
    </div>
  </div>
  <div class="clear"></div>
  <div class="ad1">
    <img src="/templates/default/images/index-ad1.jpg" alt="ad1" />
  </div>
  <div class="clear"></div>
  <div class="company">
    <a href="#"><img src="/templates/default/images/index-company-1.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
    <a href="#"><img src="/templates/default/images/index-company-3.jpg" /></a>
  </div>
  <div class="clear"></div>
  <div class="recommend_crash">
    <div class="recommend">
      <div class="list_title"></div>
      <div class="list_box">
    		{#qishi_jobs_list set="列表名:jobs,显示数目:7,推荐:1,排序:refreshtime>desc"#}
    		{#foreach from=$jobs item=list#}
        <div class="row">
          <div class="title">
            <a class="company_name" href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>
            <p class="peoples">({#$list.amount#}人)</p>
          </div>
          <a class="desc" href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a> 
          <p class="desc">更新日期:{#$list.refreshtime#}</p>
          <p class="desc">待遇:{#$list.wage_cn#}</p>
        </div>
    		{#/foreach#}
      </div>
    </div>
    <div class="crash">
      <div class="list_title"></div>
      <div class="list_box">
    		{#qishi_jobs_list set="列表名:jobs,显示数目:7,紧急招聘:1,排序:refreshtime>desc"#}
    		{#foreach from=$jobs item=list#}
        <div class="row">
          <div class="title">
            <a class="company_name" href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>
            <p class="peoples">({#$list.amount#}人)</p>
          </div>
          <a class="desc" href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a> 
          <p class="desc">更新日期:{#$list.refreshtime#}</p>
          <p class="desc">待遇:{#$list.wage_cn#}</p>
        </div>
    		{#/foreach#}
      </div>
    </div>
		<div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="new_jobs">
    <div class="title"></div>
    <div class="list_box">
      
  		{#qishi_companyjobs_list set="列表名:company,显示数目:40,显示职位:2,职位名长度:10,企业名长度:12,排序:refreshtime>desc"#}
  		{#foreach from=$company item=list#}
      <div class="job_box">
        <a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
        <p class="txt_desc">诚聘：
          {#foreach from=$list.jobs item=jobslist#}
          <a href="{#$jobslist.jobs_url#}" target="_blank">{#$jobslist.jobs_name#}</a> 
          {#/foreach#}
        </p>
      </div>
  		{#/foreach#}
      
      
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="friend_link">
    <div class="title"></div>
    <div class="list_box">
      {#qishi_link set="列表名:list,类型:1,调用名称:QS_index,显示数目:5"#}
      <!--   以下为循环读取 -->
      {#foreach from=$list item=list#}
      <a href="{#$list.link_url#}" target="_blank">{#$list.title#}</a>
      {#/foreach#}
       <!-- 循环结束 -->
    </div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
{#qishi_ad set="显示数目:10,调用名称:QS_indexfloat,列表名:ad"#}{#foreach from=$ad  item=float#}{#$float#}{#/foreach#}
</div>		  
<script type="text/javascript" charset="utf-8">
$(function(){
  //tabs
	$( "#hot_job_category_tag" ).tabs();
	$( "#hot_job_tabs_1" ).tabs();
	$( "#article_tab" ).tabs();
  
  //登陆框
  $.get("{#$QISHI.site_dir#}plus/ajax_user.php", {"act":"user_login_panel"},
    function (data,textStatus)
    {			
    $("#login_panel").html(data);
    }
  );
  //菜单层
  showmenu("#category_cn","#menu1","#category","#Form1","#category");
  showmenu("#trade_cn","#menu2","#trade","#Form1","#trade");
  showmenulayer("#district_cn","#menu3","#district","#sdistrict",QS_city);
});
</script>
</body>
</html>