<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>对比职位 - {#$QISHI.site_name#}</title>
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
		//申请职位
		$(".app_jobs").click(function(){
		dialog("申请职位","url:get?{#$QISHI.site_dir#}user/user_apply_jobs.php?id="+$(this).attr("id")+"&act=app","500px","auto","");
		});	
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>&nbsp;>>&nbsp;对比职位
</div>
<div class="company-contrast">
{#qishi_jobs_contrast set="列表名:contrast,职位ID:GET[id]"#}
{#foreach from=$contrast item=list#}
  <div class="box">
    <div class="tit">{#$list.jobs_name#}{#if $list.emergency=="1"#} <img src="{#$QISHI.site_template#}images/61.gif" width="27" height="14" align="absmiddle" />{#/if#}</div>	
		<ul>
		<li>所属公司：{#$list.companyname#}</li>
		<li>职位性质：{#$list.nature_cn#}</li>
		<li>性别要求：{#$list.sex_cn#}</li>
		<li>招聘人数：{#if $list.amount=='0'#}若干{#else#}{#$list.amount#}{#/if#}人</li>
		<li>所属行业：{#$list.trade_cn#}</li>
		<li>所在地区：{#$list.district_cn#}</li>
		<li>学历要求：{#$list.education_cn#}</li>
		<li>工作经验：{#$list.experience_cn#}</li>
		<li>薪资待遇：{#$list.wage_cn#}</li>
		<li>添加时间：{#$list.addtime|date_format:"%Y-%m-%d"#}</li>
		<li>刷新时间：{#$list.refreshtime|date_format:"%Y-%m-%d"#}</li>
		<li>到期时间：{#$list.deadline|date_format:"%Y-%m-%d"#}</li>
		</ul>
		<div align="center" class="but"><input type="button"  class="but100 app_jobs"  id="{#$list.id#}" value="申请职位"/></div>		
        <div class="txt"><strong>职位描述：</strong><br />
{#$list.contents|nl2br#}
</div>
  </div>
  {#/foreach#}
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>
