<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_jobs"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/pioneer.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
</head>
<body>
{#include file="header.htm"#}
<div id="pioneer_body">
  <div class="left">
    <div class="search">
      <div class="key_box">
        <input type="text" class="key" />
        <input type="submit" class="submit" value="" />
      </div>
      <div class="tags">
        <a href="#" class="current">不限</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
        <p class="space"></p>
        <a href="#">Java</a>
        <p class="space"></p>
        <a href="#">Ruby</a>
        <p class="space"></p>
        <a href="#">Web前端</a>
      </div>
    </div>
    <div class="recommend">
      <div class="list">
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div><div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div><div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <div class="logo">
              <a href="#"><img src="/templates/default/images/pioneer-temp_1.jpg" /></a>
            </div>
            <div class="info">
              所处行业：计算机软件 互联网...<br />
              单位性质：股份制企业<br />
              公司规模：101-500人<br />
              所在地区：重庆-北部新区<br />
              薪水范围：2000-29999元<br />
            </div>
            <div class="operating">
              <a href="#" class="concerned">关注</a>
              <a href="#" class="comment">评论</a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div id="pager">
          <a href="#" class="text_nav"><<</a>
          <a href="#" class="text_nav">上一页</a>
          <a href="#" class="text_nav">1</a>
          <a href="#" class="text_nav">2</a>
          <a href="#" class="text_nav">3</a>
          <a href="#" class="text_nav">4</a>
          <a href="#" class="text_nav">5</a>
          <a href="#" class="text_nav">...</a>
          <a href="#" class="text_nav">下一页</a>
          <a href="#" class="text_nav">>></a>
          <div class="goto">
            <label>跳转到</label>
            <input type="text" class="txt_page"/>
            <input type="button" class="go"/>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="company_nav">
      <div class="counter"><a href="#">352</a>家创业公司发布了<a href="#">2156</a>个职位</div>
      <div class="title"><img src="/templates/default/images/pioneer-right-company_nav-title.jpg" /></div>
      <a href="#" class="link_button"><img src="/templates/default/images/pioneer-right-company_nav-button_1.jpg"></a>
      <a href="#" class="link_button"><img src="/templates/default/images/pioneer-right-company_nav-button_2.jpg"></a>
    </div>
    <div class="right_new_list">
      <div class="title"></div>
      <div class="list">
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row last_row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
      </div>
    </div>
    <div class="right_commend_list">
      <div class="title"></div>
      <div class="list">
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
        <div class="row last_row">
          <a href="#">游戏运营总监</a>
          <a href="#" class="area">朝阳区</a>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>
