.agreement{ width:928px;margin:0 auto; margin-top:8px;border:1px solid #E4E4E4;background-image:url(../images/16.jpg); background-repeat:repeat-x; padding:15px; line-height:180%;}
.agreement .title{ text-align:center}
.agreement .title h1{ font-size:14px; font-weight:bold}
