<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;服务中心&nbsp;>>&nbsp;{#$QISHI.points_byname#}消费明细
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_company/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>{#$QISHI.points_byname#}消费明细</h1>
		</div>
		 <div class="us_tab">
			<a href="?act={#$act#}&settr=" {#if $smarty.get.settr==""#}class="select"{#/if#}>所有的</a>
              <a href="?act={#$act#}&settr=3" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>最近3天</a>
              <a href="?act={#$act#}&settr=7" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>最近7天</a>
			  <a href="?act={#$act#}&settr=30" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>最近1月</a>
			  <a href="?act={#$act#}&settr=90" {#if $smarty.get.settr=="90"#}class="select"{#/if#}>最近3月</a>
			  <div class="clear"></div>
		</div>		
			  <div class="us_list_tip link_lan">您目前共有 <span>{#$points#}</span> {#$QISHI.points_quantifier#}{#$QISHI.points_byname#}&nbsp;&nbsp;&nbsp;&nbsp;<a href="?act=order_add">[{#$QISHI.points_byname#}充值]</a>&nbsp;&nbsp;&nbsp;<a href="?act=points_rule">[{#$QISHI.points_byname#}消费规则]</a></div>
			  <table width="97%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center" id="list">
              <tr>
                <td width="120" height="26" class="us_list_title">
				&nbsp;&nbsp;创建时间
				</td>
                <td   class="us_list_title">描述</td>
              </tr>
			    {#foreach from=$report item=list#}
              <tr>
      <td   height="32" class="us_list" style="color: #FF6600">
	 &nbsp;&nbsp;{#$list.log_addtime|date_format:"%Y-%m-%d %H:%M"#}	  </td>
      <td class="us_list">{#$list.log_value#}</td>
              </tr>
   {#/foreach#}
            </table>
			 {#if !$report#}
			<div class="us_list_no_content">没有您要找的信息</div>

		  {#/if#}
			<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
              <tr>
                <td height="80" align="center"> <div class="page link_bk">{#$page#}</div></td>
              </tr>
            </table>
	  </div>        
            </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
