<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' language="javascript"></script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">

当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a> &nbsp;>>&nbsp;<a href="company_jobs.php?act=jobs">职位管理</a>&nbsp;>>&nbsp;已发布的职位
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_company/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>已发布的职位</h1>
		</div>
		{#if $jobs#}
	 <div class="us_list_tip link_lan"  style="margin-top:13px;">
		您可以通过企业推广来提高招聘效果。
		</div>
		{#/if#}
	   <div class="us_tab">
			<a href="?act={#$act#}&jobtype=" {#if $smarty.get.jobtype==""#}class="select"{#/if#}>所有职位{#if $total.2>0#}<span>({#$total.2#})</span>{#/if#}</a>
              <a href="?act={#$act#}&jobtype=1" {#if $smarty.get.jobtype=="1"#}class="select"{#/if#}>显示中{#if $total.0>0#}<span>({#$total.0#})</span>{#/if#}</a>
              <a href="?act={#$act#}&jobtype=2" {#if $smarty.get.jobtype=="2"#}class="select"{#/if#}>不显示{#if $total.1>0#}<span>({#$total.1#})</span>{#/if#}</a><div style="padding-right:10px; text-align:right; float:right" ><a href="{#"QS_helplist,id:9"|qishi_url#}" target="_blank" style="width: auto; border:0px; background-color: #FFFFFF; color:#FF0000; text-align:right">为什么审核未通过?</a></div>
			  <div class="clear"></div>
			  </div>
	    <form id="form1" name="form1" method="post" action="?act=jobs_perform">
    <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="link_lan">
              <tr>
                <td height="26" width="30%" class="us_list_title"><label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />职位名称</label></td>
                <td width="15%" align="center" class="us_list_title">审核状态</td>
 
                <td width="15%" align="center" class="us_list_title">刷新时间</td>
                <td width="20%" align="center" class="us_list_title" >匹配/编辑</td>
				<td width="25%" align="center" class="us_list_title" >职位推广</td>
              </tr>
			  {#foreach from=$jobs item=li#}
              <tr>
                <td height="32" >
				<input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a>
				 {#if $li.stick=="1"#}<span style="color: #FF9900"  title="职位已置顶" class="vtip">[顶]</span>{#/if#}
				{#if $li.emergency=="1"#}<span style="color: #FF0000" title="紧急招聘" class="vtip">[急]</span>{#/if#}
				{#if $li.recommend=="1"#}<span style="color: #009900" title="职位已推荐" class="vtip">[荐]</span>{#/if#}
				{#if $li.highlight#}<span style="color: {#$li.highlight#}" title="职位已变色" class="vtip">[变]</span>{#/if#}
				{#if $li.display=="2"#}<span style="color: #FF3300">[已暂停]</span>{#/if#}
				
				</td>
                <td align="center"  >
				{#if $li.audit==1#}
				审核通过
				{#elseif  $li.audit==2#}
				<span style="color: #FF6600">审核中</span>
				{#else#}
				<span style="color: #FF0000">审核未通过</span>
				{#/if#}				</td>
        
                <td align="center">				
				{#$li.refreshtime|date_format:"%m-%d %H:%M"#}
				</td>
           
                <td align="center"  >
				<a href="{#"QS_resumelist,category:"|cat:$li.category|cat:"-subclass:"|cat:$li.subclass|qishi_url#}"  target="_blank">匹配简历</a>&nbsp;
				<a href="?act=editjobs&id={#$li.id#}">修改</a>&nbsp;
				<a href="?act=jobs_perform&delete=1&y_id={#$li.id#}" onclick="return confirm('您确定删除吗?')">删除</a>
				</td>
			     <td align="center"  >
				<a href="?act=jobs_perform&refresh=1&y_id={#$li.id#}" {#if $points_rule.jobs_refresh.value>0#} onclick="return confirm('刷新职位可提高职位排名，每次消耗 {#$points_rule.jobs_refresh.value#} {#$QISHI.points_quantifier#}{#$QISHI.points_byname#}，确定刷新吗？')"{#/if#}>刷新</a>&nbsp;
				{#if $li.stick=="1"#}
				<a href="javascript:void(0);" title="此职位已置顶，正在推广中..." class="vtip" style="color:#999999">置顶</a>&nbsp;
				{#else#}
				<a href="company_promotion.php?act=promotion_add&promotionid=3&jobsid={#$li.id#}&jobsname={#$li.jobs_name_#}&golist=1" title="推广后将会置顶职位，可有效提高招聘效果" class="vtip">置顶</a>&nbsp;
				{#/if#}
				
				{#if $li.recommend=="1"#}
				<a href="javascript:void(0);" title="此职位已推荐，正在推广中..." class="vtip" style="color:#999999">推荐</a>&nbsp;
				{#else#}
				<a href="company_promotion.php?act=promotion_add&promotionid=1&jobsid={#$li.id#}&jobsname={#$li.jobs_name_#}&golist=1" title="推广后将会显示推荐字样，使职位更加醒目" class="vtip">推荐</a>&nbsp;
				{#/if#}
				{#if $li.highlight#}
				<a href="javascript:void(0);" title="此职位已变色，正在推广中..." class="vtip" style="color:#999999">变色</a>&nbsp;
				{#else#}
				<a href="company_promotion.php?act=promotion_add&promotionid=4&jobsid={#$li.id#}&jobsname={#$li.jobs_name_#}&golist=1" title="推广后职位名称会变色，使职位更加醒目" class="vtip">变色</a>&nbsp;
				{#/if#}
				
				
				
				{#if $li.emergency=="1"#}
				<a href="javascript:void(0);" title="此职位已紧急，正在推广中..." class="vtip" style="color:#999999">紧急</a>&nbsp;
				{#else#}
				<a href="company_promotion.php?act=promotion_add&promotionid=2&jobsid={#$li.id#}&jobsname={#$li.jobs_name_#}&golist=1" title="推广后将会显示紧急字样，使职位更加醒目" class="vtip">紧急</a>&nbsp;
				{#/if#}
				
				</td>
              </tr>
			  
			  
			  
			  <tr>
                <td height="23" colspan="5" valign="top" class="us_list link_bk" style="color:#999999; padding-left:23px;"> 
				
			 添加时间：{#$li.addtime|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;|&nbsp;&nbsp;通过消耗{#if $li.add_mode=="1"#}{#$QISHI.points_byname#}{#else#}服务内容{#/if#}添加	&nbsp;&nbsp;|&nbsp;&nbsp;浏览：{#$li.click#}次&nbsp;&nbsp;|&nbsp;&nbsp;到期时间：{#if $li.deadline<$smarty.now#}
				<span style="color: #FF0000">已经到期</span>
				{#else#}
				{#$li.deadline|date_format:"%Y-%m-%d"#}
				{#/if#}
				&nbsp;&nbsp;|&nbsp;&nbsp;应聘简历<a href="company_recruitment.php?act=apply_jobs&jobsid={#$li.id#}" {#if $li.countresume>0#}style="color:#FF0000"{#/if#}>({#$li.countresume#})</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;评论<a href="company_comment.php?act=comment_list&jobsid={#$li.id#}" {#if $li.comment>0#}style="color:#FF0000"{#/if#}  target="_blank">({#$li.comment#})</a>
				
				</td>
              </tr>
			 {#/foreach#}
          </table>
			{#if $jobs#}
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td>
				<input type="button" name="next" value="发布职位"  class="user_submit" onclick="window.location='?act=addjobs'"/>
				  &nbsp;
				<input type="submit" name="refresh" value="刷新职位"   class="user_submit"  {#if $points_rule.jobs_refresh.value>0#} onclick="return confirm('刷新职位可提高职位排名，每次消耗 {#$points_rule.jobs_refresh.value#} {#$QISHI.points_quantifier#}{#$QISHI.points_byname#}，确定刷新吗？')"{#/if#}/>
               &nbsp;
                  <input name="display1" type="submit"  class="user_submit" value="设为开始" />
           &nbsp;
                  <input type="submit" name="display2" value="设为暂停" class="user_submit"  />
            &nbsp;
                  <input type="submit" name="delete" value="删除职位" class="user_submit"  onclick="return confirm('您确定删除吗?')"/></td>
              </tr>
          </table>
		   <table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
              <tr>
                <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
              </tr>
          </table>
            {#else#}
			{#if $smarty.get.jobtype=="2"#}
			<div class="us_list_no_content link_lan">没有你要找的信息！</div>
			{#else#}
			<div class="us_list_no_content link_lan">您没有发布职位！<a href="company_jobs.php?act=addjobs">立即发布</a></div>
			{#/if#}
			
			<br />
		  {#/if#}
         
        </form>
	</div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>