<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>

<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	//导航
	$("#tabshow li:nth-child(4)>a").addClass("selected");
})
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;账户管理&nbsp;>>&nbsp;账号状态设置
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>账号状态设置</h1>
		</div>
		<form action="?act=user_status_save" method="post" >
      <table width="100%" border="0" cellpadding="4" cellspacing="0" >
        <tr>
          <td height="35"  style="border-bottom:1px #C9D9E7 dashed; padding-left:40px;"><label><input name="status" type="radio" value="1" {#if $user_status=="1"#}checked="checked"{#/if#} />
            设为正常</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #999999">(所有功能正常使用)</span></td>
          </tr>
		  <tr>
          <td height="35"  style="border-bottom:1px #C9D9E7 dashed; padding-left:40px;"><label><input type="radio" name="status" value="2" {#if $user_status=="2"#} checked="checked" {#/if#}/>
            设为暂停</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#999999">(暂停账号，会员所有信息不对外公开，网站功能无法使用)</span></td>
          </tr>
		    <tr>
          <td height="40"  style=" padding-left:60px;" >
            <input type="submit" name="Submit" value="保存"   class="user_submit"/></td>
          </tr>
		    <tr>
		      <td height="100" >&nbsp;</td>
	      </tr>
      </table>
	  </form>
	  </div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
