<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>

</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;求职管理&nbsp;>>&nbsp;职位收藏夹
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>职位收藏夹</h1>
		</div>
		<div class="us_tab">
			<a href="?act={#$act#}&settr=" {#if $smarty.get.settr==""#}class="select"{#/if#}>所有的</a>
              <a href="?act={#$act#}&settr=3" {#if $smarty.get.settr=="3"#}class="select"{#/if#}>最近3天</a>
              <a href="?act={#$act#}&settr=7" {#if $smarty.get.settr=="7"#}class="select"{#/if#}>最近7天</a>
			  <a href="?act={#$act#}&settr=30" {#if $smarty.get.settr=="30"#}class="select"{#/if#}>最近1月</a>
			  <a href="?act={#$act#}&settr=90" {#if $smarty.get.settr=="90"#}class="select"{#/if#}>最近3月</a>
			  <div class="clear"></div>
			  </div>
	<form id="form1" name="form1" method="post" action="?act=del_favorites" >
	  <table width="100%" border="0" cellpadding="4" cellspacing="0" >
        <tr>
          <td height="600" valign="top" bgcolor="#FFFFFF">
		  
		  <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0"  class="link_lan"  >
              <tr>
                <td height="26"  class="us_list_title"><label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />职位名称</label></td>
                <td  class="us_list_title">公司名称</td>
                <td align="center"  class="us_list_title">收藏时间</td>
                </tr>
				 {#foreach from=$favorites item=list#}
				 {#if $list.district_cn#}
                <tr >
            <td   height="32">
			<input name="y_id[]" type="checkbox" id="y_id"   value="{#$list.did#}"/>
			<a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>			</td>
                  <td  >
				  <a href="{#$list.company_url#}" target="_blank">{#$list.companyname#} </a>				  </td>
                  <td align="center"   >{#$list.addtime|date_format:"%Y-%m-%d"#}</td>
                </tr>
                <tr >
                  <td height="23" colspan="3" valign="top"   class="us_list">
				  <div style="padding-left:20px;">			
				月薪：{#$list.wage_cn#}&nbsp;&nbsp;|&nbsp;&nbsp;
				工作地区：{#$list.district_cn#}&nbsp;&nbsp;|&nbsp;&nbsp;
				刷新时间：{#$list.refreshtime|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;|&nbsp;&nbsp;
				到期时间：{#$list.deadline|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;|&nbsp;&nbsp;
				点击：{#$list.click#}次				</div>
				  
				  </td>
                  </tr>
				  {#else#}
				  
				   <tr >
                  <td height="32" colspan="3"    class="us_list">
				  <input name="y_id[]" type="checkbox" id="y_id"   value="{#$list.did#}"/>
			您收藏的职位({#$list.jobs_id#})可能已经被删除。

				  </td>
                  </tr>
				  {#/if#}
{#/foreach#}
            </table>
			
			  {#if $favorites#}
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="8">
              <tr>
                <td><input type="submit" name="delete" value="删除所选"   class="user_submit"  onClick="return confirm('您确定删除吗?')"/>
                </td>
              </tr>
            </table>
			{#else#}
			<div class="us_list_no_content">没有您要找的信息</div>
			{#/if#}
            <table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
                <tr>
                  <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
                </tr>
            </table></td>
        </tr>
      </table>
	</form>
	</div>
	</td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
