<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery.vtip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#tabshow li:nth-child(2)>a").addClass("selected");
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#$userindexurl#}">会员中心</a>&nbsp;>>&nbsp;简历列表
</div>
<table width="985" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
		<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>我创建的简历</h1>
		</div>
		 <div class="us_tab">
			<a href="?act={#$act#}&amp;tabletype=" {#if $smarty.get.tabletype==""#}class="select"{#/if#}>所有简历{#if $total.2>0#}<span>({#$total.2#})</span>{#/if#}</a>
              <a href="?act={#$act#}&amp;tabletype=1" {#if $smarty.get.tabletype=="1"#}class="select"{#/if#}>有效简历{#if $total.0>0#}<span>({#$total.0#})</span>{#/if#}</a>
              <a href="?act={#$act#}&amp;tabletype=2" {#if $smarty.get.tabletype=="2"#}class="select"{#/if#}>无效简历{#if $total.1>0#}<span>({#$total.1#})</span>{#/if#}</a>
			  <div class="clear"></div>
			  </div>
	<form id="form1" name="form1" method="post" action="?act=del_resume" >
	  <table width="100%" border="0" cellpadding="4" cellspacing="0" >
        <tr>
          <td valign="top" bgcolor="#FFFFFF">
		  <table width="97%" border="0" cellpadding="0" cellspacing="0" class="link_lan"   align="center">
              <tr>
                <td height="26" class="us_list_title"><label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />简历名称</label>                </td>
                <td width="60" align="center" class="us_list_title">审核状态</td>
                <td width="135" align="center" class="us_list_title">刷新时间</td>
                <td width="85" class="us_list_title" align="center">完整指数</td>
                <td width="10" class="us_list_title"></td>
                <td width="50" align="center" class="us_list_title">等级</td>
	
                <td width="150" align="center" class="us_list_title">操作</td>
              </tr>
			   {#foreach from=$resume_list item=list#}
              <tr>
                <td height="30" >
				<input name="y_id[]" type="checkbox" id="y_id"   value="{#$list.id#}"/> 
			<a href="{#if $list.complete_percent<60#}javascript:void(0);{#else#}{#$list.resume_url#}{#/if#}" {#if $list.complete_percent<60#} style="color:#666666"  class="vtip" title="完整指数小于 60%，系统将视为无效简历"{#else#}  target="_blank"{#/if#}>
			{#$list.title#}
			</a>
			 {#if $list.display=="2"#}<span style="color:#999999" class="vtip" title="半公开简历是指企业搜不到到简历，但是您可以主动给职位投递简历，建议设置为全公开">[半公开]</span>{#/if#}			</td>
                <td align="center" >
				 {#if $list.audit=="1"#}审核通过{#/if#}
			{#if $list.audit=="2"#}审核中{#/if#}
			{#if $list.audit=="3"#}审核未通过{#/if#}				</td>
                <td align="center"  style="color:#FF6600">{#$list.refreshtime|date_format:"%Y-%m-%d %H:%M"#}</td>
                
                <td width="60" class="vtip"   style=" cursor:help" title="简历完整指数为：<span style=color:#FF0000><strong>{#$list.complete_percent#}</strong> %</span><br />如完整指数小于<strong>60%</strong>，则系统视为无效简历。<br />简历完整指数越高，排名越靠前">
				<div style="border:1px #006600 solid; width:80px; height:8px; font-size:0px">
					  <div style="width:{#$list.complete_percent#}%;background-color:#99CC00; height:8px;font-size:0px"> </div>
					  </div>				</td>
                <td align="left" >{#$list.complete_percent#}%</td>
                <td align="center" >
				 {#if $list.talent=="2"#}
				  <span style="color:#FF6600">高级</span>
				  {#else#}
				  普通
				  {#/if#}				</td>
        
                <td align="center" >
				<a href="?act=resume_show&pid={#$list.id#}" >修改</a>&nbsp;&nbsp;
				<a href="?act=resume_privacy&pid={#$list.id#}" >隐私</a>&nbsp;&nbsp;
				<a href="?act=tpl&pid={#$list.id#}" >模版</a>&nbsp;&nbsp;
				<a href="?act=del_resume&y_id={#$list.id#}"  onclick="return confirm('您确定删除吗?')">删除</a>				</td>
              </tr>
              <tr>
                <td height="25" colspan="7" class="us_list link_bk">
				<div style="padding-left:20px;">
				真实姓名： {#if $list.display_name == "2"#}{#$list.number#}[已屏蔽真实姓名]{#else#}{#$list.fullname#}{#/if#}&nbsp;&nbsp;|&nbsp;&nbsp;添加时间：{#$list.addtime|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;|&nbsp;&nbsp;浏览：{#$list.click#}次&nbsp;&nbsp;|&nbsp;&nbsp;收到面试邀请<a href="personal_apply.php?act=interview&resume_id={#$list.id#}" {#if $list.countjobs>0#}style="color:#FF0000"{#/if#}>({#$list.countjobs#})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;简历被下载<a href="personal_apply.php?act=down&resume_id={#$list.id#}" {#if $list.countdown>0#}style="color:#FF0000"{#/if#}>({#$list.countdown#})</a>				
				</div>								</td>
                </tr>
			  {#/foreach#}
            </table>
			 {#if $resume_list#}
			  <table width="100%" border="0" cellspacing="8" cellpadding="0"  style="margin-bottom:15px;">
                <tr>
                  <td>
				   <input type="button" name="add" value="创建一份简历"   class="user_submit" onclick="javascript:location.href='?act=make1' " />
                    &nbsp;&nbsp;&nbsp;&nbsp;
				  <input type="button" name="refresh" value="刷新简历"   class="user_submit vtip" onclick="javascript:location.href='?act=refresh' "  title="刷新可提高简历排名！"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;                   
                    <input type="submit" name="delete" value="删除简历"   class="user_submit"  onclick="return confirm('您确定删除吗?')"/></td>
                </tr>
              </table>
			  {#else#}
			<div class="us_list_no_content">没有您要找的简历</div>
			<table width="100%" border="0" cellspacing="8" cellpadding="0">
                <tr>
                  <td>
				   <input type="button" name="add" value="创建一份简历"   class="user_submit" onclick="javascript:location.href='?act=make1' " />
					</td>
                </tr>
              </table>
		  {#/if#}		   </td>
        </tr>
      </table>
	</form>	
	</div>
	</td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>