<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#if $smarty.get.resumetag#}{#"QS_resumetag,"|cat:$smarty.get.resumetag|qishi_categoryname#}{#else#}按标签搜索{#/if#}  - {#$QISHI.site_name#}</title>
<meta name="description" content="{#if $smarty.get.category_cn && $smarty.get.subclass#}{#$smarty.get.category_cn#},{#/if#}{#if $smarty.get.district_cn && $smarty.get.sdistrict#}{#$smarty.get.district_cn#} {#/if#},{#$QISHI.site_name#}人才信息,人才简历">
<meta name="keywords" content="{#if $smarty.get.category_cn && $smarty.get.subclass#}{#$smarty.get.category_cn#},{#/if#}{#if $smarty.get.district_cn && $smarty.get.sdistrict#}{#$smarty.get.district_cn#} {#/if#}，人才信息，高级人才，求职信息，推荐人才，{#$QISHI.site_name#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/resume.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.highlight-3.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.resume-list.js" type='text/javascript'></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script type="text/javascript"> 
$(document).ready(function()
{
	resumelist();
	favorites("{#$QISHI.site_dir#}");
	recommend_resume("{#$QISHI.site_dir#}");
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#"QS_resume"|qishi_url#}">求职信息</a>&nbsp;>>&nbsp;<a href="{#"QS_resumetag"|qishi_url#}">按标签搜索</a>
</div>
<div class="resume-nav">
  <a href="{#"QS_resumelist"|qishi_url#}" >全能搜索</a>
  <a href="{#"QS_resumetag"|qishi_url#}" class="select">按标签搜索</a>
  <div class="clear"></div>
</div>
<div class="resumesearchbox link_bkg" id="resumesearchbox"><div class="loading"></div></div>
<script src="{#$QISHI.site_template#}js/jquery.resume-tag-search.js" type='text/javascript'></script>
<script type="text/javascript">
	var getstr="{#$smarty.get.category#},{#$smarty.get.subclass#},{#$smarty.get.district#},{#$smarty.get.sdistrict#},{#$smarty.get.resumetag#},{#$smarty.get.inforow#}";
	tagso('{#$QISHI.site_template#}','{#$QISHI.site_dir#}','{#"QS_resumetag"|qishi_url#}',getstr);
</script>
{#qishi_resume_list set="列表页:QS_resumetag,列表名:resume,分页显示:1,显示数目:GET[inforow],特长描述长度:130,填补字符:...,关键字:GET[key],职位分类:GET[jobcategory],职位大类:GET[category],职位小类:GET[subclass],地区分类:GET[citycategory],地区大类:GET[district],地区小类:GET[sdistrict],标签:GET[resumetag]"#}
<div class="resume-list">
  <form action="" method="post"  name="formresumelist" id="formresumelist"  target="_blank">
    <div class="tit">
	 			<label><input name="selectall" type="checkbox" value="" id="selectall"/>&nbsp;全选</label>
	  			<div class="titsub allfavorites" >加入人才库</div>
				<div class="pageminnav link_lan">{#$pagemin#}</div>
	 			<div class="clear"></div>
	</div>	
	<div class="sort">
		  <div class="txt link_green">
		  <span>排序：</span>		 
		   <a href="javascript:void(0)" class="select">默认</a>
		  <div class="pagerow"><span>每页显示：</span>
		  <a href="{#"QS_resumetag,inforow:10-page:1-category:"|cat:$smarty.get.category|cat:"-subclass:"|cat:$smarty.get.subclass|cat:"-district:"|cat:$smarty.get.district|cat:"-sdistrict:"|cat:$smarty.get.sdistrict|cat:"-resumetag:"|cat:$smarty.get.resumetag|qishi_url#}"  {#if $smarty.get.inforow=="10" || $smarty.get.inforow==""#}class="select"{#/if#}>10</a>
		  <a href="{#"QS_resumetag,inforow:20-page:1-category:"|cat:$smarty.get.category|cat:"-subclass:"|cat:$smarty.get.subclass|cat:"-district:"|cat:$smarty.get.district|cat:"-sdistrict:"|cat:$smarty.get.sdistrict|cat:"-resumetag:"|cat:$smarty.get.resumetag|qishi_url#}" {#if $smarty.get.inforow=="20"#}class="select"{#/if#}>20</a>
		  <a href="{#"QS_resumetag,inforow:30-page:1-category:"|cat:$smarty.get.category|cat:"-subclass:"|cat:$smarty.get.subclass|cat:"-district:"|cat:$smarty.get.district|cat:"-sdistrict:"|cat:$smarty.get.sdistrict|cat:"-resumetag:"|cat:$smarty.get.resumetag|qishi_url#}" {#if $smarty.get.inforow=="30"#}class="select"{#/if#}>30</a>
		  </div>
		  </div>
	</div>
{#foreach from=$resume item=list#}
		<div class="list link_lang">
			  <div class="li_left_check"><input name="jid" type="checkbox" value="{#$list.id#}"  />
			  </div>
		  <div class="li_left">
							<div class="yname striking">
							 <a href="{#$list.resume_url#}" target="_blank">{#$list.fullname#}</a>
	{#if $list.photo=="1"#} <img src="{#$QISHI.site_template#}images/65.gif"  border="0" align="absmiddle"  title="有照片"  class="vtip"/>{#/if#}
	{#if $list.talent=="2"#} <img src="{#$QISHI.site_template#}images/66.gif"   border="0" align="absmiddle"  title="高级人才"  class="vtip"/>{#/if#}
	
							</div>
							<div class="intention striking">
							 {#$list.intention_jobs#}
							</div>
							<div class="age">						
							{#$list.age#}岁
							</div>				
							<div class="date">						
							{#$list.refreshtime_cn#}
							</div>
							<div class="clear"></div>							
							<div class="txt striking">
							<p class="link_bku">性别：<a href="{#"QS_resumelist,sex:"|cat:$list.sex|qishi_url#}">{#$list.sex_cn#}</a>&nbsp;&nbsp;|&nbsp;&nbsp;工作经验：<a href="{#"QS_resumelist,experience:"|cat:$list.experience|qishi_url#}">{#$list.experience_cn#}</a>&nbsp;&nbsp;|&nbsp;&nbsp;学历：<a href="{#"QS_resumelist,education:"|cat:$list.education|qishi_url#}">{#$list.education_cn#}</a>&nbsp;&nbsp;|&nbsp;&nbsp;地区：<a href="{#"QS_resumelist,district:"|cat:$list.district|cat:"-sdistrict:"|cat:$list.sdistrict|qishi_url#}">{#$list.district_cn#}</a>
</p><p class="striking">最近工作过的职位：{#$list.recentjobs|default:"无"#}</p>
							<p style="color: #999999" class="striking">{#$list.specialty#}</p>
							</div>							
				            <div class="tag">
							  <div class="left link_bku"> <a href="{#$list.resume_url#}" target="_blank">[查看详细]</a> <a href="javascript:void(0)" class="add_favorites" id="{#$list.id#}">[加入人才库]</a><a href="javascript:void(0)" class="recommend" url="{#$list.resume_url|escape:"url"#}|{#$list.fullname#}">[推荐给好友]</a></div>
							  <div class="right striking link_bku">标签：{#foreach from=$list.tag item=tagli#}<a href="{#"QS_resumetag,resumetag:"|cat:$tagli.0|qishi_url#}">{#$tagli.1#}</a>{#foreachelse#} 无{#/foreach#}</div>
							  <div class="clear"></div>
							</div>
		  </div>		  
  		<div class="clear"></div>
		</div>
{#/foreach#}
		{#if !$resume#}<div class="noinfo">
		<span>抱歉，没有符合此条件的信息。</span><br />
您可以：<br />
重新修改搜索条件后再进行搜索。 <br />
适当减少一些搜索条件，以便能够获得更多的结果。 <br />
		</div>
		{#/if#}
    <div class="tit" style="border-top:0px;">
	 <label> <input name="selectall" type="checkbox" value="" id="selectall"/>&nbsp;全选</label>
	  			<div class="titsub allfavorites" >加入人才库</div>
	  <div class="clear"></div>
	</div>
  </form> 
</div>
<table width="" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{#if $page#}
		<div class="page link_bk">
		{#$page#}
		</div>
		{#/if#}</td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>