<table width="100%" border="0" cellspacing="0" cellpadding="0">
{#if $act=="1"#}
<tr>
<td height="40" align="center" class="link_1">许可协议</td>
</tr>
{#elseif $act>1#}
<tr>
<td height="40" align="center" class="link_2">许可协议</td>
</tr>
{#else#}
<tr>
<td height="40" align="center" >许可协议</td>
</tr>
{#/if#}
<!-- -->
{#if $act=="2"#}
<tr>
<td height="40" align="center" class="link_1">环境检测</td>
</tr>
{#elseif $act>2#}
<tr>
<td height="40" align="center" class="link_2">环境检测</td>
</tr>
{#else#}
<tr>
<td height="40" align="center" >环境检测</td>
</tr>
{#/if#}
<!-- -->
{#if $act=="3"#}
<tr>
<td height="40" align="center" class="link_1">参数配置</td>
</tr>
{#elseif $act>3#}
<tr>
<td height="40" align="center" class="link_2">参数配置</td>
</tr>
{#else#}
<tr>
<td height="40" align="center" >参数配置</td>
</tr>
{#/if#}
<tr>
<td height="40" align="center">开始安装</td>
</tr>
<!-- -->
{#if $act=="5"#}
<tr>
<td height="40" align="center" class="link_1">安装完成</td>
</tr>
{#elseif $act>5#}
<tr>
<td height="40" align="center" class="link_2">安装完成</td>
</tr>
{#else#}
<tr>
<td height="40" align="center" >安装完成</td>
</tr>
{#/if#}
</table>