<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>手机频道 -  {#$QISHI.site_name#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
{#include file="wap/header.htm"#}
<div class="wap_login link_lan">
{#if $smarty.session.username#}
欢迎：{#$smarty.session.username#}登录，<a href="wap_user.php">[会员中心]</a>&nbsp;&nbsp;<a href="wap_login.php?act=logout">[退出]</a>
{#else#}
<a href="wap_login.php">个人会员登录</a>&nbsp;&nbsp;<a href="wap_user_reg.php">注册</a>
{#/if#}
</div>
<div class="wap_tit">
职位搜索
</div>
<div class="wap_txt link_lan">
<form action="wap-jobs-list.php" method="get">
职位：{#$smarty.get.subclass_cn|default:"不限"#} <a href="wap-classify.php?act=jobs&amp;url=wap.php&amp;sdistrict={#$smarty.get.sdistrict#}&amp;sdistrict_cn={#$smarty.get.sdistrict_cn#}">修改</a><br />
地区：{#$smarty.get.sdistrict_cn|default:"不限"#} <a href="wap-classify.php?act=district&amp;url=wap.php&amp;subclass={#$smarty.get.subclass#}&amp;subclass_cn={#$smarty.get.subclass_cn#}">修改</a><br />
职位全文搜索:<br />
<input name="key" type="text" id="key" value=""/>
<br />
<input type="submit" name="Submit" value="搜索" />
<input name="subclass" type="hidden" value="{#$smarty.get.subclass#}" />
<input name="subclass_cn" type="hidden" value="{#$smarty.get.subclass_cn#}" />
<input name="sdistrict" type="hidden" value="{#$smarty.get.sdistrict#}" />
<input name="sdistrict_cn" type="hidden" value="{#$smarty.get.sdistrict_cn#}" />
</a><br />
</form>
<a href="wap-jobs-list.php">[最新职位]</a>
</div>
<div class="wap_tit">
推荐职位
</div>
<div class="wap_txt  link_lan">
{#qishi_companyjobs_list set="列表名:company,显示数目:16,显示职位:3,职位名长度:4,企业名长度:12,推荐:1,排序:refreshtime>desc"#}
{#foreach from=$company item=list#}
<a href="wap-company-show.php?id={#$list.company_id#}" class="link_cname">{#$list.companyname#}</a><span style="color: #666666">({#$list.refreshtime|date_format:"%m-%d"#})</span><br />
{#foreach from=$list.jobs item=jobslist#}<a href="wap-jobs-show.php?id={#$jobslist.id#}" >{#$jobslist.jobs_name#}</a>&nbsp;{#/foreach#}
<br />
{#/foreach#}
</div>
{#include file="wap/footer.htm"#}
</body>
</html>
