/*-----职位首页，导航------*/
#jobs_body{width: 960px; margin: auto auto;}
#jobs_body .search{width: 960px; height: 170px; background-color: #f9ac2e;}
#jobs_body .search label{font-size: 14px; }
#jobs_body .search .step_box{width: 850px; margin: auto auto;}
#jobs_body .search .step{margin: 17px auto auto 15px; float: left;}
#jobs_body .search .step .input1{width: 145px; height: 28px; margin-left: 70px; border: 1px solid #CCCCCC; background: url("../images/jobs-search-more.jpg") no-repeat scroll 129px center white}
#jobs_body .search .step .input2{width: 271px; height: 28px; margin-left: 70px; border: 1px solid #CCCCCC; background: url("../images/jobs-search-more.jpg") no-repeat scroll 255px center white}
#jobs_body .search .step .input3{width: 549px; height: 28px; border: 1px solid #CCCCCC; border-left: none; background: url("../images/jobs-search-more.jpg") no-repeat scroll 533px center white; margin-left: -3px;}
#jobs_body .search .step .input_key_type{width: 80px; height: 30px; margin-left: 70px; border: none; background: url("../images/jobs-search-bg-key_type.jpg")}
#jobs_body .search .step_trade{background:url("../images/jobs-search-label-trade.jpg") no-repeat scroll 0 center transparent;}
#jobs_body .search .step_category{background:url("../images/jobs-search-label-category.jpg") no-repeat scroll 0 center transparent;}
#jobs_body .search .step_address{background:url("../images/jobs-search-label-address.jpg") no-repeat scroll 0 center transparent;}
#jobs_body .search .step_key{background:url("../images/jobs-search-label-key.jpg") no-repeat scroll 0 center transparent;}
#jobs_body .search .step_date{background:url("../images/jobs-search-label-date.jpg") no-repeat scroll 0 center transparent;}
#jobs_body .search .submit{width: 247px; height: 38px; border: none;  margin: 18px auto auto 290px; float: left; background:url("../images/jobs-search-submit.jpg")}
#jobs_body .search .reset{display: block; float: left; color: white; text-decoration: none; font-size: 14px; margin: 28px auto auto 10px;}

/*-----工作列表------*/
#jobs_body .job_list{width: 775px; float: left; margin-top: 29px;}
#jobs_body .job_list .title{width: 772px; height: 36px; background-color: #f09415; float: left;}
#jobs_body .job_list .title_right_border{width: 3px; height: 36px; background:url(../images/jobs-list-title-right_border.jpg); float: left;}
#jobs_body .job_list .title .field_count{width: 139px; height: 16px; background:url(../images/jobs-list-title-field_count.jpg); float: left; margin: 11px;}
#jobs_body .job_list .title input{width: 146px; height: 18px; border: solid 2px white; background:url(../images/jobs-list-title-filter-selectbox-more.jpg) no-repeat right center #f6f6f6; float: right ;margin: 5px;}
#jobs_body .job_list .content{width: 773px; border: solid 1px #e7e6e6;}
#jobs_body .job_list .content table{width: 100%; margin-top: 8px; border: none}
#jobs_body .job_list .content table thead th{background:url(../images/jobs-job_list-head-bg.jpg) repeat-x; border-left: solid 1px #dddddd; border-bottom: solid 1px #dddddd; height: 30px; }
#jobs_body .job_list .content table tbody .short{padding: 10px; text-align: center;}
#jobs_body .job_list .content table tbody .job_name{color: #f09415; text-align: left;}
#jobs_body .job_list .content table tbody .info{padding: 10px; color: #717171;}
#jobs_body .job_list .content table tbody .desc{padding: 10px; color: #a3a3a3}
#jobs_body .job_list .content table tbody .btn_show{width: 61px; height: 21px; display: block; background:url(../images/jobs-job_list-btn-show.jpg); margin: auto auto;}
#jobs_body .job_list .content table tbody .btn_apply{width: 61px; height: 21px; display: block; background:url(../images/jobs-job_list-btn-apply.jpg); margin: 10px auto auto auto;}
#jobs_body .job_list .content table tbody .bottom_border{border-bottom: dashed 1px #dddddd; margin: 5px auto 5px auto;}



/*-----右侧企业列表------*/
#jobs_body .company_list{width: 185px; float: right; margin-top: 29px;}
#jobs_body .company_list .company_box{width: 166px; height: 78px; border: solid 1px #cccccc; margin: auto 0px 11px auto;}


/*-----推荐信息1------*/
#jobs_body .commend_list{width: 958px; height: 129px; border: solid 1px #e8e8e8; background-color: white; margin-top: 24px;}
#jobs_body .commend_list, #jobs_body .commend_list a{color: #717171; text-decoration: none;}
#jobs_body .commend_1_title{width: 325px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_1.jpg)}
#jobs_body .commend_2_title{width: 225px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_2.jpg)}
#jobs_body .commend_3_title{width: 422px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_3.jpg)}
#jobs_body .commend_content a{display: inline-block; padding: 24px 27px 0;}
