/*-----职位首页，导航------*/
.jobs-nav{width:985px;  margin:0 auto; margin-top:8px; height:28px; background-color:#F2F2F2; border-bottom:3px #FF6600 solid}
.jobs-nav a{display:block; float:left; height:28px;width:auto;color: #666666; cursor:pointer;text-decoration:none; line-height:28px; padding:0px 20px; font-size:14px;font-family:"microsoft yahei","宋体";}
.jobs-nav a:hover {color: #FF6600;}
.jobs-nav a.select{background:url(../images/29.gif) repeat-x; color:#FFFFFF;font-weight:bold;}
.jobsearchbox{width:983px;  margin:0 auto; border:1px #D5D5D5 solid;}
.jobsearchbox .loading{background:url(../images/90.gif) no-repeat center; background-color: #FFFFFF;  height:25px;}
.jobsearchbox .myselbox{width:983px;  margin:0 auto; border-top:1px #D5D5D5 solid;background-color:#F2F2F2; display:none;padding-bottom:5px;}
.jobsearchbox .myselbox .left{float:left; width:80px; text-align:right; padding-top:10px;}
.jobsearchbox .myselbox .optcentet{float:left; width:805px; padding-left:5px;}
.jobsearchbox .myselbox .optcentet a{display:block;float:left; color:#FF6600; border:1px #FF9900 solid; height:19px;  line-height:19px; padding-left:5px; padding-right:20px; text-decoration:none; margin-right:8px;background:url(../images/51.gif) no-repeat right -274px;background-color:#FFFFFF;white-space: nowrap; margin-top:5px;}
.jobsearchbox .myselbox .optcentet a u{ color:#666666; text-decoration:none}
.jobsearchbox .myselbox .optcentet a:hover{background:url(../images/51.gif) no-repeat right -297px;background-color: #FFFBD9; border-color:#FF6600}
.jobsearchbox .myselbox .right{float:left; width:90px;}
.jobsearchbox .myselbox .right a{display:block;color:#009900; border:1px #ADC581 solid; height:19px;  line-height:19px; padding-left:23px; width:55px; text-decoration:none;  background:url(../images/51.gif) no-repeat 0px -320px;background-color:#FFFFFF;white-space: nowrap; margin-top:5px;}
.jobsearchbox .myselbox .right a:hover{background-color: #F1FEDA; border-color: #009900}
.jobsearchbox .bottomheight{ height:10px;}
.s1 { padding-top:10px;}
.s1 .litit { width:70px; margin-top:8px; float:left; text-align:right; }
.s1 .litit.keysel{ padding-top:15px;}
.s1 .litit.csel{ padding-top:6px;}
.s1 .littxt{ width:880px; margin-top:8px; float:left;padding-left:8px;}
.s1 .littxt .keybox{background-color:#E9E9E9; padding-left:4px; padding-top:4px; height:36px; float:left; padding-right:4px;}
.s1 .littxt .keybox .keyinputbox{ width:342px; float:left}
.s1 .littxt .keybox .keyinputbox input{ width:330px; border:1px   #B9B9B9 solid; background-color:#FFFFFF; height:22px; padding-left:10px; padding-top:6px; border-right:0px; line-height:18px;}
.s1 .littxt .keybox .subinputbox{ width:70px; height:31px; float:left;}
.s1 .littxt .keybox .subinputbox input{ width:70px; height:31px;background:url(../images/51.gif) no-repeat; border:0px; color:#FFFFFF; font-family:"microsoft yahei","宋体"; font-size:15px; line-height:31px; *margin-top:1px;}
.s1 .littxt .keybox .subinputbox1{ width:70px; height:31px; float:left;}
.s1 .littxt .keybox .subinputbox1 input{ width:70px; height:31px;background:url(../images/51.gif) no-repeat 0px -32px; border:0px; color: #666666; font-family:"microsoft yahei","宋体"; font-size:15px; line-height:31px; *margin-top:1px;}
.s1 .littxt .keymore{ width:200px;background:url(../images/51.gif) no-repeat 40px -64px; float:left; padding-left:63px; padding-top:15px; color:#FF6600; }
.s1 .littxt li{ float:left;width:145px; height:25px; line-height:25px; overflow:hidden; }
.s1 .littxt li.hide{ display:none}
.s1 .littxt li.more a{ display:block; width:40px; height:21px; line-height:21px; padding-left:8px; border:1px #CCCCCC solid;background:url(../images/51.gif) no-repeat right -350px;}
.s1 .littxt li.more a:hover{ background-position:right -375px; border-color: #FF9900}
.s1 .littxt .min li{ width:100px; overflow:hidden}
.s1 .littxt li span{ color: #FF6600}
.s1 .advbox{ display:none}
/*-----写字楼，道路搜索------*/
.s2 { padding:0px;}
.s2 .topsobox{ height:85px; border-bottom:1px #D5D5D5 solid; background-color:#F5F5F5; padding-top:5px;}
.s2 .topsobox .left{ float:left; width:100px; text-align:right; height:20px; margin-top:12px; padding-top:4px;}
.s2 .topsobox .right{ float:left; width:750px;height:20px; margin-top:12px; padding-left:5px;}
.s2 .topsobox .right a{ display:block; width:18px; height:18px; line-height:18px; border:1px #CCCCCC solid; float:left; text-align:center; margin-right:8px; background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif}
.s2 .topsobox .right a:hover{ color:#FFFFFF; background-color:#FF6600; border-color:#FF3300}
.s2 .topsobox .right a.select{color:#FFFFFF; background-color:#FF6600; border-color:#FF3300}
.s2 .topsobox .right .keybox{ width:195px; float:left;}
.s2 .topsobox .right .keybox input{width:180px;border:1px solid; border-color:#666666 #CCCCCC #CCCCCC #666666;height:14px;line-height:14px; padding:3px;color:#666666;}
.s2 .topsobox .right .keysub  a{ display:block; width:50px; text-align:center; border:1px  #999999 solid; height:21px; line-height:21px; text-decoration:none; color: #666666}
.s2 .topsobox .right .keysub a:hover{ background-color: #FF6600; border-color: #FF3300; color:#FFFFFF} 
.s2 .showsobox {}
.s2 .showsobox .left{ float:left; width:100px;text-align:right; padding-top:20px;}
.s2 .showsobox .left b{ color:#FF3300}
.s2 .showsobox .right{ float:left; width:870px; padding-top:15px; padding-left:5px;}
.s2 .showsobox .right li{ float:left; height:23px; line-height:23px; width:140px; padding-left:5px; overflow:hidden}
.s2 .showsobox .right li span{ color:#FF6600; padding-left:3px;}
.s2 .showsobox .right span {height:23px; line-height:23px;}

/*-----职位首页，最新职位------*/
.jobsbox {width:963px;  margin:0 auto; margin-top:8px;border:1px solid #D5D5D5;background:url(../images/16.jpg) repeat-x; padding:10px;}
.jobsbox .tit{ margin-bottom:8px; line-height:20px;}
.jobsbox .tit .left{ width:600px; float:left;}
.jobsbox .tit .right{ width:350px; float:left; text-align:right}
.jobsbox h2{ font-size:14px; font-weight:bold;font-family:"microsoft yahei","宋体"; color: #FF6600}
.jobsbox li{ float:left; width:308px; height:25px; line-height:25px; padding-left:13px;background:url(../images/01.gif) no-repeat 5px -29px;}
.jobsbox li a.jobsname{ color: #0066CC}
.jobsbox li span{ font-size:12px; color:#FF6600}
/*-----职位列表*/
.jobs_list_tip{width:973px; margin:0 auto;padding-left:10px; height:24px; background-color:#FFFDEC; border:1px #FF9900 solid; margin-top:8px; color: #FF3300; overflow:hidden; padding-top:4px;}
.jobs_list{width:985px; margin:0 auto; margin-top:8px;}
.jobs_list .tit{ width:975px; border:1px #D5D5D5 solid; height:32px; padding-left:8px; padding-top:8px; background-color: #F9F9F9}
.jobs_list .tit label{ width:60px; float:left}
.jobs_list .tit input{vertical-align:middle;}
.jobs_list .tit .titsub{ border:1px #FABE8D solid; background:url(../images/51.gif) repeat-x 0px -156px; height:22px; line-height:22px; padding-left:8px; padding-right:8px; cursor: pointer; float:left; margin-right:8px;}
.jobs_list .tit .titsub_h{background-position:0px -190px; color: #FF3300;}
.jobs_list .pageminnav{ float:right;}
.jobs_list .pageminnav a {border: 1px solid #dddddd;display:block;height:20px; line-height:20px; margin-right:5px; float:left;padding-left:5px; padding-right:5px;  }
.jobs_list .pageminnav a:hover { border:1px #0066CC solid; color: #0066CC}
.jobs_list .pageminnav span {display:block; padding-top:5px; margin-right:5px; float:left;padding-left:5px; padding-right:5px;  }
.jobs_list .sort{width:983px; border-left:1px #D5D5D5 solid; border-right:1px #D5D5D5 solid;background:url(../images/14.gif) repeat-x 0px -185px;}
.jobs_list .sort .txt{width:970px; height:27px;background:url(../images/14.gif) repeat-x 0px -240px; line-height:27px; padding-left:13px;}
.jobs_list .sort .txt span{display:block; float:left; padding-right:10px;border-right:1px #D5D5D5 solid}
.jobs_list .sort .txt a{ display:block; float:left; padding-left:13px; padding-right:18px; height:26px;border-right:1px #D5D5D5 solid;background:url(../images/51.gif) no-repeat right -215px; border-left:1px  #FFFFFF solid}
.jobs_list .sort .txt a.select{ background-color:#FFFFFF; height:27px; background-position:right -244px; color:#FF6600}
.jobs_list .sort .pagerow{ float:right;}
.jobs_list .sort .pagerow span{display:block;float:left; border:0px;}
.jobs_list .sort .pagerow a{ display:block; float:left; width:15px; height:15px; line-height:15px; padding:0px; margin-right:8px; border:1px #CCCCCC solid; background:none; font-size:10px; text-align:center; margin-top:5px;}
.jobs_list .sort .pagerow a.select{ border-color:#FF6600; width:15px; height:15px;}
.jobs_list .list{ width:983px; border-bottom:1px #D5D5D5 solid; color:#666666; padding-top:6px; padding-bottom:6px;border-left:1px #D5D5D5 solid;border-right:1px #D5D5D5 solid;}
.jobs_list .list .li_left_check{ width:22px; float:left; padding-left:10px; padding-top:5px;}
.jobs_list .list .li_left{ width:860px; float:left;}
.jobs_list .list .li_left .jobname{ height:20px; width:320px; font-size:14px; float:left; padding-top:6px;font-family:"microsoft yahei","宋体";}
.jobs_list .list .li_left .com{ height:20px; width:320px;float:left;padding-top:6px; font-family:"microsoft yahei","宋体";}
.jobs_list .list .li_left .wage{ height:20px; width:90px;float:left;padding-top:6px;}
.jobs_list .list .li_left .date{ height:20px; width:100px;float:left;padding-top:6px; text-align:right;}
.jobs_list .list .li_left .txt { line-height:180%;word-break:break-all;word-wrap:break-word;}
.jobs_list .list .li_left .tag { padding-top:5px; color:#333333}
.jobs_list .list .li_left .tag a{ margin-right:15px;}
.jobs_list .list .li_left .tag .left{ float:left; width:350px;}
.jobs_list .list .li_left .tag .left a{ margin-right:10px;}
.jobs_list .list .li_left .tag .right{ float:left; width:500px; text-align:right}
.jobs_list .list .li_left .tag .right a{ margin-right:6px;}
.jobs_list .list .li_left p{color: #333333; padding:0px; margin:0px;}
.jobs_list .list .li_right{ width:80px; float:left; text-align:center; padding-top:30px; line-height:250%; }
.jobs_list .list .li_right img{ cursor:pointer}
.jobs_list .list.seclect {background-image:url(../images/57.gif);}
.jobs_list .noinfo{ padding:10px; width:965px;  border-bottom:1px #E3E3E3 solid; line-height:180%}
.jobs_list .noinfo span{ font-size:14px; font-weight:bold; color:#FF6600}
.highlight { color: #FF0000}
/*--------职位对比-------*/
.company-contrast {width:1001px; margin:0 auto; margin-top:8px;}
.company-contrast .box{width:238px; margin-left:8px; _margin-left:4px;float:left;border:1px solid #E4E4E4;}
.company-contrast .box .tit{height:30px;background:url(../images/52.gif) repeat-x 0px -239px; border-bottom:1px solid #E4E4E4; line-height:30px; font-size:14px; font-weight:bold; color:#666666; padding-left:15px; overflow:hidden}
.company-contrast .box li{ padding:5px; height:25px; line-height:25px; border-bottom:1px #e4e4e4 solid; overflow:hidden}
.company-contrast .box .but{ padding:10px;}
.company-contrast .box .txt{ padding:5px; line-height:180%}
/*地图*/
.mapnav {width:983px; margin:0 auto; border:1px solid #D5D5D5; margin-top:8px;background:url(../images/91.gif) repeat-x 0px -207px }
.mapnav .left {float:left; width:767px; height:42px; padding-left:8px;}
.mapnav .left .fdiv{float:left;  margin-top:8px; margin-right:10px; height:30px;}
.mapnav .left a{ display:block;background:url(../images/91.gif) no-repeat 6px 3px; height:18px; line-height:18px; padding:4px 8px 2px 26px; width:60px;}
.mapnav .left a.a1{ background-position:6px -19px;}
.mapnav .left a.a2{ background-position:6px -41px;}
.mapnav .left a.a3{ background-position:6px -63px;}
.mapnav .left a.a4{ background-position:6px -85px;}
.mapnav .left a.a5{ background-position:6px -107px;}
.mapnav .left .fdiv.select{ background:url(../images/91.gif) no-repeat center -170px;}
.mapnav .left .fdiv.select a{border:1px #999999 solid; border-bottom:0px; background-color:#FFFFFF}
.mapnav .right {float:left; width:198px;height:42px; padding-left:10px;}
.mapnav .right a{ display:block; float:left; padding-left:21px; padding-right:20px; margin-top:13px; background:url(../images/91.gif) no-repeat 0px 0px; height:18px; line-height:18px;}
.mapnav .right a.a6{ background-position:0px -132px;}
.mapnav .right a.a7{ background-position:0px -154px;}
/*地图*/
.map   {width:983px; margin:0 auto; border:1px solid #C8C8C8; border-top:0px;}
.map  .left{float:left; width:775px; height:500px;border-right:1px solid #C8C8C8; position:relative}
.map  .left .maploading{width:775px; height:350px; position:absolute; left:0; top:0; background-color:#ffffff; text-align:center; padding-top:150px; color:#FF3300}
.map  .left .maploading img{ vertical-align:middle; margin-right:3px;}
.map  .left .mapcontainer{width:775px; height:500px;}
.map  .right{float:left; width:207px;}
.map  .right .infotiploading{background:url(../images/90.gif) no-repeat 15px 5px; background-color:#F6F6F6; padding-left:35px; height:25px; line-height:25px; color:#FF6600; border-bottom:1px solid #C8C8C8}
.map  .right .infotipshow{background-color:#F6F6F6; padding-left:12px; height:25px; line-height:25px; color:#FF6600; border-bottom:1px solid #C8C8C8; display:none}
.map  .right .typebox{ padding-left:12px; border-bottom:1px solid #C8C8C8; }
.map  .right .typebox .searchtit{ height:35px; line-height:30px; font-size:14px; font-weight:bold; padding-top:10px;}
.map  .right .typebox .searchinput{height:35px; overflow:hidden}
.map  .right .typebox .searchinput .selectinput{width:175px; background-image:url(../images/09.gif); background-position:right center; background-repeat:no-repeat; cursor:pointer; border:1px solid ;border-color:#666666 #CCCCCC #CCCCCC #666666; height:18px; line-height:18px; padding:3px; color:#666666;}
.map  .right .typebox .searchinput .keyinput{ width:175px;border:1px #cccccc;border-color:#666666 #CCCCCC #CCCCCC #666666; height:18px; line-height:18px; padding:3px; color:#666666; }
.map  .right .typebox .searchbutton{height:45px;}
.map  .right .typebox .searchbutton .searcsubmit{background-image:url(../images/55.gif); width:64px; height:24px; border:0px;vertical-align:middle; margin-right:8px;}
.map  .right .list { font-size:12px; padding-left:15px; padding-top:10px;}
.map  .right .list .tit{ font-size:14px; height:20px;}
.map  .right .list li{ padding-left:10px; height:23px; line-height:23px;background:url(../images/01.gif) no-repeat 3px -30px;}
.map  .right .list li.noinfo{ padding-left:0px;background-image:none; color:#999999}
.map  .right .listbox{ position:relative}
.map  .right .listbox .listloading{ width:100%; height:374px; background-color: #FFFFFF; color:#000000; position:absolute;text-align:center; padding-top:100px; display:none}
/*地图分页*/
.pagination {font-size: 10px; padding-top:8px;}        
.pagination a {text-decoration: none;border: solid 1px #DBDBDB;color: #666666;background:#F9F9F9;}
.pagination a, .pagination span { display: block; float: left;padding: 1px 2px;margin-right: 3px;margin-bottom: 3px;}
.pagination .current {background: #26B;color: #fff;border: solid 1px #26B;}
.pagination .current.prev, .pagination .current.next{color:#666666;border-color:#DBDBDB;background:#F9F9F9;}
/*地图覆盖物*/
.maplabel a{background:url(../images/92.gif) no-repeat; height:28px; display:block;text-decoration: none; padding-left:8px; color: #FFFFFF; padding-top:5px; position:relative; padding-right:6px;}
.maplabel a u{display:block; height:33px;background:url(../images/92.gif) no-repeat right 0px; width:5px; position:absolute;top:0; right:0;}
.maplabel a:hover { background-position:0px -34px;}
.maplabel a:hover u{ background-position:right -34px;}
.mapinfowindow{ line-height:180%; font-size:12px;}
.mapinfowindow .tit{ font-size:14px; font-weight:bold; width:100%; border-bottom:1px  #CCCCCC solid; height:30px; line-height:30px; margin-bottom:6px; overflow:hidden}
.mapinfowindow li{ padding-left:10px; height:23px; line-height:23px;background:url(../images/01.gif) no-repeat 3px -30px;}
.mapinfowindow li.more{ background-image:none; text-align:right;padding-right:20px;}