/*-----职位首页，导航------*/
#jobs_body{width: 960px; margin: auto auto;}

/*-----工作列表------*/
#jobs_body .job_list{width: 775px; float: left; margin-top: 29px;}
#jobs_body .job_list .title{width: 772px; height: 36px; background-color: #f09415; float: left;}
#jobs_body .job_list .title_right_border{width: 3px; height: 36px; background:url(../images/jobs-list-title-right_border.jpg); float: left;}
#jobs_body .job_list .title .field_count{width: 139px; height: 16px; background:url(../images/jobs-list-title-field_count.jpg); float: left; margin: 11px;}
#jobs_body .job_list .title input{width: 146px; height: 18px; border: solid 2px white; background:url(../images/jobs-list-title-filter-selectbox-more.jpg) no-repeat right center #f6f6f6; float: right ;margin: 5px;}
#jobs_body .job_list .content{width: 773px; border: solid 1px #e7e6e6;}
#jobs_body .job_list .content table{width: 100%; margin-top: 8px; border: none}
#jobs_body .job_list .content table thead th{background:url(../images/jobs-job_list-head-bg.jpg) repeat-x; border-left: solid 1px #dddddd; border-bottom: solid 1px #dddddd; height: 30px; }
#jobs_body .job_list .content table tbody .short{padding: 10px; text-align: center;}
#jobs_body .job_list .content table tbody .job_name{color: #f09415; text-align: left;}
#jobs_body .job_list .content table tbody .info{padding: 10px; color: #717171;}
#jobs_body .job_list .content table tbody .desc{padding: 10px; color: #a3a3a3}
#jobs_body .job_list .content table tbody .btn_show{width: 61px; height: 21px; display: block; background:url(../images/jobs-job_list-btn-show.jpg); margin: auto auto;}
#jobs_body .job_list .content table tbody .btn_apply{width: 61px; height: 21px; display: block; background:url(../images/jobs-job_list-btn-apply.jpg); margin: 10px auto auto auto;}
#jobs_body .job_list .content table tbody .bottom_border{border-bottom: dashed 1px #dddddd; margin: 5px auto 5px auto;}



/*-----右侧企业列表------*/
#jobs_body .company_list{width: 185px; float: right; margin-top: 29px;}
#jobs_body .company_list .company_box{width: 166px; height: 78px; border: solid 1px #cccccc; margin: auto 0px 11px auto;}


/*-----推荐信息1------*/
#jobs_body .commend_list{width: 958px; height: 129px; border: solid 1px #e8e8e8; background-color: white; margin-top: 24px;}
#jobs_body .commend_list, #jobs_body .commend_list a{color: #717171; text-decoration: none;}
#jobs_body .commend_1_title{width: 325px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_1.jpg)}
#jobs_body .commend_2_title{width: 225px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_2.jpg)}
#jobs_body .commend_3_title{width: 422px; height: 40px; margin: -4px auto auto 12px; background:url(../images/jobs-commend_jobs_title_3.jpg)}
#jobs_body .commend_content a{display: inline-block; padding: 24px 27px 0;}
