{#qishi_company_show set="列表名:company,企业ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$company.companyname#} - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$company.description#}},公司简介">
<meta name="keywords" content="{#$company.companyname#},公司简介">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
		var company_id="{#$company.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_contact.php", { "id": company_id,"time":tsTimeStamp,"act":"company_contact"},
			function (data,textStatus)
			 {			
				$("#company_contact").html(data);
			 }
		);
		$.get("{#$QISHI.site_dir#}plus/ajax_click.php", { "id": company_id,"time":tsTimeStamp,"act":"company_click"},
			function (data,textStatus)
			 {			
				$(".click").html(data);
			 }
		);
		$(".app_jobs").click(function(){
	dialog("投简历","url:get?{#$QISHI.site_dir#}user/user_apply_jobs.php?id="+$(this).attr("id")+"&act=app","500px","auto","");
	});
		$("#newbuddy").click(function(){
	dialog("加为好友","url:get?{#$QISHI.site_dir#}user/user_buddy.php?tuid={#$company.uid#}","350px","auto","");
	});
	$("#addpms").click(function(){
	var url="{#$QISHI.site_dir#}user/user_pms.php?tuid={#$company.uid#}";
	dialog("发送短消息","url:get?"+url,"400px","auto","");
	});
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>&nbsp;>>&nbsp;{#$company.companyname#}
</div>
<div class="company-show-topnav">
  <div class="topcomname">
  <h1>{#$company.companyname#}</h1>
  {#if $company.audit=="1"#}
  <div class="company_license1" title="营业执照已验证"></div>
			{#else#}
	<div class="company_license2" title="营业执照未验证"></div>
	{#/if#}
	<div class="clear"></div>
  </div>
  <div class="snav">
		<a href="{#"QS_companyshow,id:"|cat:$company.id|qishi_url#}" class="selected">公司介绍</a>
		<a href="{#"QS_companyjobs,id:"|cat:$company.id|qishi_url#}" >招聘职位</a>
		<div class="clear"></div>
  </div>
</div>
<div class="company-show">
  <div class="left">
    <div class="show link_lan">
			
			<div class="link_bku">所在地区：<a href="{#"QS_jobslist,district:"|cat:$company.district|cat:"-sdistrict:"|cat:$company.sdistrict|qishi_url#}" target="_blank">{#$company.district_cn#}</a>&nbsp;&nbsp;&nbsp;更新时间：{#$company.refreshtime|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;&nbsp;点击：<span class="click"></span>次</div>			
			 <div class="logo"><img src="{#$company.logo#}" border="0" /></div>
			 
			 <div class="item">
			 <ul class="link_bku">
			<li>企业性质：{#$company.nature_cn#}</li>
			<li>所属行业：<a href="{#"QS_jobslist,trade:"|cat:$company.trade|qishi_url#}" target="_blank">{#$company.trade_cn#}</a></li>
			<li>注册资金：{#if $company.registered#}{#$company.registered#}万{#$company.currency#}{#else#}未填写{#/if#}</li>
			<li>公司规模：<a href="{#"QS_jobslist,scale:"|cat:$company.scale|qishi_url#}" target="_blank">{#$company.scale_cn#}</a></li>
			</li>
			<li>添加时间：{#$company.addtime|date_format:"%Y-%m-%d"#}</li>
			</ul>
			</div>
			<div class="clear"></div>
			 <table width="100%" border="0" cellspacing="0" cellpadding="6" >
			  <tr>
				<td bgcolor="#F5FAFE" class="listtit">招聘职位</td>
				<td bgcolor="#F5FAFE" class="listtit">招聘人数</td>
				<td bgcolor="#F5FAFE" class="listtit">工作地区</td>
				<td align="center" bgcolor="#F5FAFE" class="listtit">刷新日期</td>
				<td align="center" bgcolor="#F5FAFE" class="listtit">截至日期</td>
				<td width="100" align="center" bgcolor="#F5FAFE" class="listtit">投简历</td>
			  </tr>
			  {#qishi_jobs_list set="列表名:jobs,填补字符:...,职位名长度:14,显示数目:10,会员UID:"|cat:$company.uid#}
			  {#foreach from=$jobs item=list#}
			  <tr>
				<td class="list">
				<a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>
				{#if $list.emergency=="1"#} <img src="{#$QISHI.site_template#}images/61.gif" border="0" align="absmiddle" />{#/if#}
							{#if $list.recommend=="1"#} <img src="{#$QISHI.site_template#}images/62.gif" border="0" align="absmiddle" />{#/if#}	
				</td>
				<td class="list">{#$list.amount#}人</td>
				<td class="list">{#$list.district_cn#}</td>

				<td align="center" class="list">{#$list.refreshtime_cn#}</td>
				<td align="center" class="list">{#$list.deadline|date_format:"%Y-%m-%d"#}</td>
				<td align="center" class="list"><img src="{#$QISHI.site_template#}images/53.gif" border="0"  class="app_jobs" id="{#$list.id#}" style="cursor:pointer"/> </td>
			  </tr>
			  {#/foreach#}
	  </table>
	  {#if $jobs#}
	         <div  style=" padding:10px; padding-right:20px;text-align:right;"><a href="{#"QS_companyjobs,id:"|cat:$company.id|qishi_url#}">更多职位>></a></div>
			 {#else#}
			 <div  style=" padding:10px; text-align:center; color:#FF0000">没有发布招聘信息!</div>
      {#/if#}
	         <div class="title"><strong>公司简介</strong></div>
			 {#$company.contents|nl2br#}
			 <div class="title"><strong>联系方式</strong></div>
			 <!--AJAX 联系方式 --><div id="company_contact"></div>
			 <div class="title"><strong>公司位置</strong></div>
			 {#if $company.map_open=="1" && $company.map_x && $company.map_y#}
			   <script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
			  <div style="width:100%;height:200px ; border:1px #CCCCCC solid; margin:0 auto; margin-top:6px;" id="map"></div>
				<script type="text/javascript">
				var map = new BMap.Map("map");   
				var point = new BMap.Point({#$company.map_x#}, {#$company.map_y#});   
				map.centerAndZoom(point, {#$company.map_zoom#});
				var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL,anchor: BMAP_ANCHOR_TOP_RIGHT}
				map.addControl(new BMap.NavigationControl(opts)); //添加鱼骨
				//map.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用。
				// 创建标注
				var qs_marker = new BMap.Marker(point);           
				map.addOverlay(qs_marker); 
				// 创建标注 
				// 打开信息窗口 
				var opts = {   
				  width : 150,     // 信息窗口宽度   
				  height: 50,     // 信息窗口高度   
				  title : "{#$company.companyname#}"  // 信息窗口标题   
				}   
				var infoWindow = new BMap.InfoWindow("{#$company.address#}", opts);  // 创建信息窗口对象   
				map.openInfoWindow(infoWindow, point);
				// 打开信息窗口  			
				</script>	
				{#else#} 
				该公司没有标注具体位置。 
			  {#/if#}
	</div>
  </div>
  <div class="right">
		  <div class="txtbox">
				  <div class="tit">企业档案</div>
				   <div class="qrcode"><img src="{#$QISHI.site_dir#}plus/url_qrcode.php?url={#$QISHI.site_domain#}{#"QS_companyshow,id:"|cat:$company.id|qishi_url#}" alt="{#$company.companyname#} - 二维码" /></div>  
				  <div class="txt">
					  <ul class="link_bku">
						<li>企业性质：{#$company.nature_cn#}</li>
						<li>所属行业：<a href="{#"QS_jobslist,trade:"|cat:$company.trade|qishi_url#}" target="_blank">{#$company.trade_cn#}</a></li>
						<li>公司规模：<a href="{#"QS_jobslist,scale:"|cat:$company.scale|qishi_url#}" target="_blank">{#$company.scale_cn#}</a></li>
						<li>所在地区：<a href="{#"QS_jobslist,district:"|cat:$company.district|cat:"-sdistrict:"|cat:$company.sdistrict|qishi_url#}" target="_blank">{#$company.district_cn#}</a></li>
					  </ul>
				  </div>
				   <div class="pm link_bk">
					    <div class="pleft"><a href="javascript:void(0)" id="addpms">发短消息</a></div>
						<div class="pright"><a href="javascript:void(0)" id="newbuddy">加为好友</a></div>
						<div class="clear"></div>
					  </div>
	</div>
			 <div class="txtbox">
				  <div class="tit">您可能感兴趣的职位</div>	  
					{#qishi_jobs_list set="列表名:jobs,显示数目:5,填补字符:...,职位名长度:14,排序:rtime,行业:"|cat:$company.trade#}
					{#foreach from=$jobs item=list#}
					<div class="txt1 link_lan">
					<strong><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a></strong><br />
					<a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a><br />
					薪资待遇：{#$list.wage_cn#}<br />招聘人数：{#$list.amount#}人<br />学历要求：{#$list.education_cn|default:"不限"#}
					</div>
					{#/foreach#}
			</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>
