{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="set_com/admin_set_com_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
服务套餐模式是指会员可以购买不同等级服务，如普通会员，VIP会员等，每个等级都有不同的使用权限
</p>
</div>
<div class="toptit">设置服务套餐</div>

	  <form id="form1" name="form1" method="post" action="?act=set_meal_edit_save">
	   {#$inputtoken#}
	   <input name="id" type="hidden" value="{#$show.id#}" />
    <table width="90%" border="0" cellspacing="3" cellpadding="3">
      <tr>
        <td width="200" align="right">套餐名称：</td>
        <td><input name="setmeal_name" type="text" class="input_text_200" id="setmeal_name" value="{#$show.setmeal_name#}"/></td>
      </tr>
      <tr>
        <td align="right">有效时间：</td>
        <td><input name="days" type="text" class="input_text_200" id="days" value="{#$show.days#}" maxlength="10"/>
        天 <span class="admin_note">(0表示不限制)</span> </td>
      </tr><tr>
        <td align="right">服务价格：</td>
        <td><input name="expense" type="text" class="input_text_200" id="expense" value="{#$show.expense#}" maxlength="10"/>
        元 <span class="admin_note">(0表示免费)</span> </td>
      </tr>
<tr>
        <td align="right">发布普通职位：</td>
        <td><input name="jobs_ordinary" type="text" class="input_text_200" id="jobs_ordinary" value="{#$show.jobs_ordinary#}"  maxlength="10"/>
        条   <span class="admin_note">(0为不允许)</span></td>
      </tr>
	  
	  <tr>
        <td align="right">下载普通人才简历：</td>
        <td><input name="download_resume_ordinary" type="text" class="input_text_200" id="download_resume_ordinary" value="{#$show.download_resume_ordinary#}" maxlength="10"/>
        份 <span class="admin_note">(0为不允许)</span></td>
      </tr>
	    <tr>
        <td align="right">下载高级人才简历：</td>
        <td><input name="download_resume_senior" type="text" class="input_text_200" id="download_resume_senior" value="{#$show.download_resume_senior#}" maxlength="10"/>
        份  <span class="admin_note">(0为不允许)</span></td>
      </tr>
	    <tr>
        <td align="right">邀请普通人才面试数：</td>
        <td><input name="interview_ordinary" type="text" class="input_text_200" id="interview_ordinary" value="{#$show.interview_ordinary#}" maxlength="10"/>
        次   <span class="admin_note">(0为不允许)</span></td>
      </tr>
	    <tr>
        <td align="right">邀请高级人才面试数：</td>
        <td><input name="interview_senior" type="text" class="input_text_200" id="interview_senior" value="{#$show.interview_senior#}" maxlength="10"/>
        次   <span class="admin_note">(0为不允许)</span></td>
      </tr>
	    <tr>
        <td align="right">人才库容量：</td>
        <td><input name="talent_pool" type="text" class="input_text_200" id="talent_pool" value="{#$show.talent_pool#}" maxlength="10"/>
        条 <span class="admin_note">(0为不允许使用人才库)</span> </td>
      </tr>
      <tr>
        <td align="right">显示顺序：</td>
        <td><input name="show_order" type="text" class="input_text_200" id="show_order" onkeyup="if(event.keyCode !=37 &amp;&amp; event.keyCode != 39) value=value.replace(/\D/g,'');" value="{#$show.show_order#}" maxlength="3"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>
          数字越大越靠前</td>
      </tr>
	  <tr>
        <td align="right">显示状态：</td>
        <td><label>
          <input name="display" type="radio" value="1"  {#if $show.display=="1"#}checked="checked"{#/if#}/>
        正常</label> &nbsp;&nbsp;&nbsp;<label>
        <input type="radio" name="display" value="0"  {#if $show.display=="0"#}checked="checked"{#/if#}/>
        屏蔽</label></td>
      </tr>
 <tr>
        <td align="right">允许会员申请此服务：</td>
        <td><label>
          <input name="apply" type="radio" value="1"  {#if $show.apply=="1"#}checked="checked"{#/if#}/>
        是</label> &nbsp;&nbsp;&nbsp;<label>
        <input type="radio" name="apply" value="0" {#if $show.apply=="0"#}checked="checked"{#/if#}/>
        否</label></td>
      </tr>
	  
 
	  
      <tr>
        <td align="right" valign="top">其他说明：</td>
        <td><textarea name="added" id="added" style="width:300px; height:50px; font-size:12px; line-height:180%" >{#$show.added#}</textarea>
            <br />
          (可填写：赠送广告位或者其他特殊推荐等) </td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td height="50" align="left"><input type="submit" name="Submit3" value="提交" class="admin_submit"   />
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input name="submit22" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>
		</td>
      </tr>
    </table>
  
    </form>
    </div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>